[2018-08-01 19:29] ronaldtse opened #1 "Giving access to Metanorma through a web function"
Recently we were asked to deploy Metanorma to a web location so that people can directly upload an adoc file (or a zipped directory) to generate Metanorma output, rather than have to install Ruby and the toolchain via [metanorma-macos-setup](https://github.com/riboseinc/metanorma-macos-setup).

We wish to use AWS Lambda via Terraform to achieve this. For example, we can provide a `https://app.meta

[2018-08-01 19:37] ronaldtse commented on #1
There is a gem called [Rumbda](https://github.com/kleaver/rumbda) that wraps Ruby code with Traveling Ruby into a Lambda zip file, but since we're using the Homebrew Portable Ruby 2.3, you'll have to fork Rumbda to change the Ruby zip location, and possibly applying the patches from this fork: https://github.com/jdanielian/rumbda .

[2018-08-02 00:53] erikbor commented on #1
Maybe [Exodus](https://github.com/intoli/exodus) can help out.

[2018-08-02 03:38] ronaldtse commented on #1
Thanks for the great tip @erikbor -- the only issue I ran into was the dependency on system libxml/libxslt.

The latest Portable Ruby 2.3.7 is available here: https://bintray.com/homebrew/bottles-portable-ruby/portable-ruby/2.3.7

Really easy to run (on macOS):
[code]

On Linux:
[code]

[2018-08-02 04:04] ronaldtse commented on #1
The only issue is the installation of Nokogiri: it requires installing the following packages:

[code]

[2018-08-02 04:05] ronaldtse commented on #1
And here's how you test Lambda functions locally: https://github.com/lambci/docker-lambda

[2018-08-11 13:52] strogonoff commented on #1
I think making Metanorma easier to adopt is a valid goal in itself.

Allowing to run Metanorma build right from the landing page is perfect in context of that, added to https://github.com/orgs/riboseinc/projects/3.

Not so tangentially, another feature with potential to speed up the adoption of Metanorma is offering the workflow in containerized form. Pros and cons of Docker aside, these days it s

[2018-08-12 09:38] strogonoff commented on #1
@ronaldtse

Should be possible to Exodus a `ruby` binary of requisite version and hopefully it’d be within the Lambda size limit. Not yet sure how to deal with project dependencies, since Exodus seems to be designed to work against a single binary. Naively using Exodus against `metanorma` executable after installing as prescribed wouldn’t work, since `metanorma` isn’t a binary but a Ruby script th

[2018-08-12 09:53] strogonoff commented on #1
Making sure this is indeed what we want before a significant amount of time is spent on R&D to figure out how to run that on Lambda nicely and have at least somewhat repeatable bundling flow for it.

I think either Traveling Ruby (with Node wrapper) or Lambda + Docker (through udocker devel branch) should work. Couldn’t see how Exodus would work so far.

Native Ruby support would be best, AWS may

[2018-08-12 23:56] ronaldtse commented on #1
I already tried Exodos but it is only for ELF binaries. `udocker` seems much slower than native Lambda. The Traveling / Portable Ruby approach should work.

Technically, the lambda archive can be built in these steps:

1. Run the `amazonlinux` docker container
2. Install all Metanorma dependencies
3. Extract the differences between the new container and the original `amazonlinux` container via `do

[2018-08-14 14:08] strogonoff commented on #1
*This comment reiterates the options available, calls for comments, and outlines one possible roadmap in some detail.*

I believe we also have the ECS on EC2 option, unless I’m missing some reason it was ruled out. Agreed with possible cold-start slowness when using Lambda or Fargate, but can see.

To sum up, to implement these requirements (which I believe I got correctly)

I believe the full lis

[2018-09-08 14:28] opoudjis opened #2 "Packaging"

[2018-09-21 13:55] #2 closed

[2018-09-21 13:57] opoudjis commented on #2
Resolved by adding a `-w` option: for all HTML outputs, it creates a folder with the HTML filename (e.g. `test.alt` for alt.html ISO output), and moves to it the associated HTML file, and the _images folder.

[2018-09-22 15:11] ronaldtse opened #3 "All Ruby filesystem `system` calls should be replaced with FileUtils"
[code]

=>
https://ruby-doc.org/stdlib-2.4.1/libdoc/fileutils/rdoc/FileUtils.html

[code]

[2018-09-23 10:31] opoudjis commented on #3
I can't do anything about the invokation of node.js for puppetteer:

[code]

Manipulating the environment PATH variable is still going to be needed for Windows.

[2018-09-23 11:05] opoudjis commented on #3
Have done all other instances  of `system` with FileUtils. Close ticket?

[2018-09-23 13:46] ronaldtse commented on #3
Thanks @opoudjis ; are all instances of `system` across the Metnaorma system all replaced with `FileUtils`?

There's nothing much we can do with `puppeteer` / `plantuml` for now.

[2018-09-23 23:29] opoudjis commented on #3
All except for the calls to puppeteer and plantuml. I have not yet released gems for this change.

[2018-09-23 23:29] #3 closed

[2018-09-25 05:55] ronaldtse opened #5 "Removing `system` calls"
Can we change these calls to FileUtils? Thanks.

[code]

[code]

[2018-09-25 10:22] opoudjis opened #6 "Enhance manifest to deal with relaton YAML"
The YAML input in https://github.com/riboseinc/relaton-server-csd/blob/master/data/repo/index.yaml should be able to drive the manifest generator as well, but with Relaton XML links.

Specifically, the Manifest HTML (i.e. the "HTML index" at /index.html), should contain for each entry:

* a relaton XML link
* a metanorma XML output
* a metanorma HTML output
* a metanorma PDF output
* a title descr

[2018-09-25 11:15] opoudjis commented on #6
I have generated the following:

in Metanorma-cli:

`exe/metanorma-manifest -t csd -R /Users/nickn/Documents/Arbeit/upwork/ribose/relaton-server-csd/data/out spec/assets/index.yaml`

The -R option is the root directory where the relaton-server-csd output (the XML bibdata files) are located.

[index.html.zip](https://github.com/riboseinc/metanorma-cli/files/2414949/index.html.zip)

[2018-09-25 14:50] ronaldtse commented on #6
@opoudjis could you update this design to the one in https://github.com/riboseinc/csd-style/tree/master/manifest ? I've updated the design and CSS, looks better now. Thanks!

[2018-09-26 03:49] opoudjis commented on #6
And https://www.calendarstandards.org as target

[2018-09-26 12:35] opoudjis commented on #6
Confused: the CSS you have pointed to is much plainer than Pierre's, which is much plainer than the calendarstandards target. I am switching to that as target.

[2018-09-26 14:07] opoudjis commented on #6
I have this working, through the pieces are precariously put together.

metanorma-cli now has the scripts relaton-doc and relaton-manifest

We presuppose that you have already run relaton-server-csd bin/calconnect_index, to generate Relaton XML from the same YAML file.

`exe/relaton-manifest -R /Users/nickn/Documents/Arbeit/upwork/ribose/relaton-server-csd/data/out spec/assets/index.yaml`

The -R

[2018-09-26 14:41] ronaldtse commented on #6
Thanks , then the one thing I need is a script that extracts Relaton XML from a Metanorma source document.

Then we can chain all Metanorma documents -> Relaton collection -> HTML index.

[2018-09-27 04:14] ronaldtse commented on #6
So this is now the ticket to support extracting Relaton XML from a Metanorma document.

[2018-09-27 04:14] ronaldtse commented on #6
I’ll move the Relaton stuff to relaton-cli.

[2018-09-29 02:48] ronaldtse commented on #6
"Replace directory name + implicit file name with explicit filename". I'd much prefer to take out the directory from the workflow.

Thanks.

[2018-09-29 02:50] opoudjis commented on #6
OK, proceeding. I suspect you will also want a workflow to extract Relaton XML from a directory of Metanorma XML files, but I will only do that when you ask me to. (You may have done so in chat.)

[2018-09-29 02:57] ronaldtse commented on #6
Yes that would be an awesome addition. However, we probably want to do so for an input "directory" (or a directory tree), will it be grouped in Parts? Or any grouping? Or should we just use a YAML file to dictate the explicit paths of the files? Perhaps there's no need for "metanorma file discovery"?

[2018-09-29 02:58] #6 closed

[2018-09-29 03:01] opoudjis commented on #6
It is possible to do away completely with the YAML file, and use folder structure to indicate any groupings: in theory, you can extract all information out of the Relaton XML. I'd rather not, and make any such structure explicit: we need metadata for the name and author of the collection, and real titles for the parts, so there is going to be a YAML structure anyway.

The sensible way forward is t

[2018-09-29 04:39] ronaldtse commented on #6
I fully agree with making all files explicit. We can always use another supplementary script that generate the index YAML from a directory structure. Such script will be separate from core Relaton.

[2018-10-02 02:28] ronaldtse opened #7 "Autoloading of gem on unsupported document type"
Instead of this:

[code]

We could also automatically do the require on behalf of the user like this:

[code]

[2018-10-02 08:43] ronaldtse opened #8 ""byebug" should not be required to run Metanorma cli"
[code]

[2018-10-02 08:49] ronaldtse commented on #8
Fixed in 0b9b59fd49a41a60208587eb4f7bd86d9be68513

[2018-10-02 08:49] #8 closed

[2018-10-04 02:49] #7 closed

[2018-10-24 08:06] opoudjis opened #9 "Propagate docfile attribute"
Asciidoctor populates the filename of the current document to the backend as a document attribute, `node.attr("docfile")`. When Asciidoctor is called via Metanorma-Cli, the filename is not available to gems that expect to find it there (e.g. in naming the local Relaton cache.)

[2018-10-24 08:43] opoudjis commented on #9
Fixed in metanorma, metanorma-cli, and all downstream gems: having to pass filename as parameter into input_to_isodoc in each metanorma/*/processor.rb instance.

[2018-10-24 08:43] #9 closed

[2018-10-30 08:09] ronaldtse opened #10 "Allow generation of output from Metanorma XML file"
As title.

[2018-10-30 08:09] #10 closed

[2018-10-30 08:34] ronaldtse opened #11 "Generation of output using a Metanorma XML file doesn't work with ones that need images"
Sample attached.
[csd-tofix.zip](https://github.com/riboseinc/metanorma-cli/files/2528708/csd-tofix.zip)

[2018-10-30 11:57] opoudjis commented on #11
This is compiling fine my side: I am attaching the results of `metanorma -t csd csd-general-recurrence.xml`, and both the HTML and the DOC file are generating images as expected. I cannot replicate your problem.

[csd-tofix 2.zip](https://github.com/riboseinc/metanorma-cli/files/2529503/csd-tofix.2.zip)

[2018-10-31 04:57] ronaldtse commented on #11
Can you compile the document in context of the standards.calconnect.org repo? i.e.

[code]

Thanks!

[2018-10-31 06:33] opoudjis commented on #11
The issue is running metanorma -t outside the local directory, as is done in the makefile (`metanorma -t csd -R csd/csd-general-recurrence.rxl -x html,pdf,doc,xml csd/csd-general-recurrence.xml`): the path to the images is not being constructed to account for it.

[2018-10-31 08:52] opoudjis commented on #11
Modifying isodoc: if the filename being processed is dir/file.xml, then any images within the file need to have their location prefixed with dir, for the gem to find them.

[2018-10-31 09:22] opoudjis commented on #11
Also need to modify Html2Doc: if the filename is dir/file.doc, then any images to be processed need to have their location prefixed by dir in order to be accessed.

[2018-10-31 10:41] opoudjis commented on #11
Extends to header location as well.

[2018-10-31 10:49] opoudjis commented on #11
Fixed in isodoc and html2doc, and published gem updates.

[2018-10-31 10:49] #11 closed

[2018-11-01 11:15] ronaldtse commented on #11
Thank you sir!

[2018-11-02 19:18] ronaldtse opened #12 "Include metanorma-unece, metanorma-mpfd as official supported types"
Include metanorma-unece, metanorma-mpfd as official supported types (i.e. in the gemspec so they get installed).

[2018-11-13 21:49] #12 closed

[2018-11-22 08:46] ronaldtse opened #13 "Command `metanorma new`"
We need a command to generate a new skeleton for a new Metanorma document.

This is similar to the `bundle gem` and `rails new` commands. We want to generate a new Metanorma document skeleton, perhaps we can use git to download the skeleton (or include it in the gem).

The files that are necessary are:

* Gemfile
* index.adoc
* .travis.yml
* .github-ci.yml
* ~~metanorma.env~~ (the contents now go

[2018-11-22 08:47] ronaldtse commented on #13
ping @opoudjis @strogonoff

[2018-11-25 07:00] opoudjis commented on #13
No, I have no idea what you're asking for, and yet again I don't see the point of it.

* sections/{nn}-{title}.adoc? Absolutely not. This splitting up of a single document into 15 little pieces is something I have always found counterproductive (I have to go looking for content in 15 files), and if there is no content already in the document, I have no idea how many pieces to split it in. Forcing

[2018-12-07 08:21] ronaldtse opened #15 "Update version and release gem for Metanorma-IETF"

[2018-12-08 10:00] #15 closed

[2018-12-08 12:44] opoudjis commented on #13
Grab an existing document, like the Rice document, and replace its contents. This doesn't deserve any more work than that.

I've assigned myself this task, but I'm assigning it back to you and Ronald, because I know nothing about the workflow that it presupposes, and there is not enough here for me to work on otherwise.

[2018-12-08 19:17] strogonoff commented on #13
The skeleton model makes sense overall. I believe that’s the way create-react-app worked originally, for example. (That said I just discovered that in latest versions they seem to have switched to a model where the user runs a “create” command to create app skeleton.)

[2018-12-16 15:52] ronaldtse opened #16 "Implement `metanorma create PATH`"

[2018-12-16 15:52] ronaldtse opened #17 "Implement `metanorma archive`"
To build a Metanorma package of artifacts.

[2018-12-16 15:53] ronaldtse opened #18 "Implement `metanorma push/release`"
For pushing a document to a Metanorma data store, e.g. the CalConnect Standards Registry.

[2018-12-17 08:14] ronaldtse opened #19 "Allow "-R <relaton-rxl>" option to be enabled via "-x rxl"
Relaton RXL files should allow generated through specifying the `-x rxl` option. This allows us to simplify the Makefiles by enabling an extra file extension in the document attributes.

Alternatively, we can expose the document attribute `:mn-relaton-output-file: <blah>` to set the option for `-R`.

[2019-01-01 07:27] ronaldtse opened #22 "Make release 1.0.11"
For @opoudjis trying to fix for:

* homebrew formula install
* child gem loading problem

[2019-01-01 12:18] #22 closed

[2019-01-04 03:00] ronaldtse opened #24 "Build failure in Ruby HEAD since Travis now does not necessarily include `bundler` gem"
See https://travis-ci.org/riboseinc/metanorma-cli/jobs/475140199

Apparently Travis' RUBY HEAD image doesn't have `bundler` by default anymore.

[2019-01-04 07:36] opoudjis commented on #24
No, they've just upgraded to the next major version of bundler. Affects all gems that invoke bundler for development.

[2019-01-04 07:47] opoudjis commented on #24
I have updated all gemspecs, and need to regenerate all Gemfile.lock files. I am only pushing metanorma-cli for now, but this will catch up when I do next global release.

[2019-01-04 07:51] #24 closed

[2019-01-04 09:21] ronaldtse commented on #24
Thanks @opoudjis !

[2019-01-09 01:06] strogonoff opened #25 "Windows setup: Chocolatey vs. current installation guidelines"
Does the guide at https://www.metanorma.com/blog/12-25-2018/metanorma-on-windows-via-chocolatey/ supersede [the current installation guide](https://github.com/riboseinc/metanorma-cli/blob/master/docs/installation.adoc#installation-notes-for-windows) for all Windows users of Metanorma CLI? I’ll update the docs & the Getting Started section if so. (Please reassign to me in that case)

[2019-01-09 10:02] opoudjis commented on #25
I have no idea, this question is for @ronaldtse.

[2019-01-16 09:25] ronaldtse opened #26 "Create Metanorma Registry commands"
A Metanorma Registry is a directory structure defined as:

[code]

The `metanorma-registry.yaml` file contains default options that apply across the documents, such as:

[code]

When you run `metanorma registry build`, it will generate:

[code]

Basically, we want to "Ruby-ise" this `Makefile`: https://github.com/CalConnect/standards.calconnect.org/blob/master/Makefile
(which I wrote)

[2019-01-16 17:15] ronaldtse commented on #18
We can use https://github.com/ruby-git/ruby-git to convert `deploy.sh`

[2019-01-18 16:32] opoudjis commented on #19
Implemented -x rxl in metanorma gem

[2019-01-18 21:21] opoudjis commented on #19
Implemented :mn-relaton-output-file: in metanorma gem.

[2019-01-18 21:34] opoudjis commented on #19
Ensured that relaton option generates file relative to the directory the source file is in.

[2019-01-18 21:35] #19 closed

[2019-01-23 16:59] opoudjis commented on #17
You will need to explain what you mean here.

[2019-01-23 16:59] opoudjis commented on #16
You will need to explain what you mean here.

[2019-02-26 12:36] ronaldtse commented on #16
This task is to create a directory structure for creating a new Metanorma document.

For example, as in https://github.com/riboseinc/metanorma-ogc/issues/23, OGC document templates are provided here (https://github.com/opengeospatial/templates).

If a user runs `metanorma create -t ogc --doctype best-practice`, maybe we should help the user fetch the OGC best practice template. This is in line wit

[2019-03-03 15:54] abunashir opened #27 "Processors related debugging information"
Hey Guys, whenever we use any command from metanorma / relaton cli, then it always kept outputting the processor information in the terminal, is this necessary or is there any specific reason we are doing that?

Eg:

<img width="761" alt="screenshot 2019-03-03 16 50 58" src="https://user-images.githubusercontent.com/1220911/53697758-f425f480-3dd4-11e9-8eff-82d27bfe3176.png">

//cc @ronaldtse, @opo

[2019-03-04 01:00] ronaldtse commented on #27
@abunashir good question. This started as a debug message shown on gem loading, but it is not necessary. The only thing we want to support is the indication that a custom gem has loaded.

For example, if we implement a new or custom gem that is not in `metanorma-cli` yet, if we use the type argument `-t xxx`, then `metanorma-cli` will attempt to load the `metanorma-xxx` gem. We may want that messa

[2019-03-10 03:20] opoudjis opened #28 "Extract images and requirements"
Currently there is functionality to extract sourcecode fragments. Extend this to images and requirements, and label it generically as extract.

[2019-03-10 03:21] opoudjis opened #29 "Add filenames for assets to be extracted to"
And respect those filenames in extraction. The extraction has scope over images, sourcecode, and requirements. There need to be sensible defaults if no filename has been provided (which is currently the case: consecutive numerals). But images will always have filenames.

[2019-03-10 03:24] opoudjis opened #30 "Implement `metanorma compress`"

[2019-03-10 03:24] ronaldtse commented on #30
Or "metanorma archive"? Or "metanorma package"?

[2019-03-10 03:25] opoudjis commented on #30
Duplicate issue then: https://github.com/metanorma/metanorma-cli/issues/17

[2019-03-10 03:25] #30 closed

[2019-03-10 03:25] ronaldtse commented on #29
This is excellent! For images, we can always use `figure-X` as default?

[2019-03-10 03:25] opoudjis commented on #17
Means compress into a single bundle

[2019-03-11 07:10] opoudjis commented on #16
I think that without a lot more information about directory structures --- which is simply not captured anywhere --- I cannot do this. In fact, I have *never* used a directory structure to create a Metanorma document. The OGC document template look to be a requirement idiosyncratic to OGC, and not one I'm convinced will be needed in practice.

... I think this is an idiosyncratic, OGC-specific req

[2019-03-14 02:26] opoudjis commented on #29
Images won't always have file names: they won't if they are data URIs.

[2019-03-14 02:52] ronaldtse commented on #29
Images only specified as data URIs should still be extracted according to some default filename pattern, e.g. "figure-X.png"

See: https://stackoverflow.com/questions/15995015/open-and-save-base64-encoded-image-data-uri-in-ruby

[2019-03-18 23:10] opoudjis commented on #29
The extraction command shall change from `metanorma -S` (specific to sourcecode) to `metanorma -e` (extracting all of images, sourcecode, and requirements, into separate directories).

[2019-03-19 00:10] opoudjis commented on #28
Command will accordingly change from metanorma -S to metanorma -e

[2019-03-19 01:34] ronaldtse commented on #28
Potential improvements:
* types of inserts to extract (requirements, images, source code...)

[2019-03-19 03:00] opoudjis commented on #28
Reluctant to overcomplicate this.

[2019-03-19 03:01] ronaldtse commented on #28
People who want requirements/sourcecode may not want images.

[2019-03-19 03:09] opoudjis commented on #28
And they can ignore the images folder. But fine, we can do this like the -x option, where you name what you want.

[2019-03-19 03:13] ronaldtse commented on #28
Yay! Thanks!

[2019-03-19 03:14] ronaldtse commented on #28
And by `-x` we're choosing amongst the tag names: `requirement`, `image`, `sourcecode`? It sounds like we need to consolidate these in the StandardDoc model.

[2019-03-19 03:49] opoudjis commented on #28
Not to me.

I have added filenames to requirements, images, and sourcecode in the standarddoc model; I don't see what else needs to be done. Those tag names certainly don't belong to the standarddoc model in a meaningful way.

[2019-03-19 03:53] ronaldtse commented on #28
i.e. requirement, image, sourcecode can all take filenames.

[2019-03-19 05:10] opoudjis commented on #28
Right. I've done that already in the model.

[2019-03-19 08:30] opoudjis commented on #29
Implemented for sourcecode: either unsuffixes consecutive numbers in sourcecode/ subdirectory, or nominated filename.

[2019-03-19 10:12] opoudjis commented on #29
Implemented for sourcecode, images, and requirements, with defaults: figure%04d.(suffix), sourcecode%04d.txt, and (requirement|permission|recommendation)%04d.xml.

[2019-03-19 10:22] #28 closed

[2019-03-19 14:17] ronaldtse commented on #29
Can we have a "dash" in `{type}-%04d.{suffix}`? Thanks!

[2019-03-19 22:42] opoudjis commented on #29
Done, and renamed figure- to image- for consistency.

[2019-03-19 22:42] #29 closed

[2019-03-21 09:59] ronaldtse commented on #13
So:

[code]

[code]

The template will be downloaded from a place like:
* `https://github.com/metanorma/metanorma-templates-{flavor}/{document-type}`

(OGC already keeps separate templates for different document types)

[2019-03-21 12:10] opoudjis commented on #13
I find this predilection for split sections bizarre: given how pervasive cross-referencing is, having to skip between documents seems to me utterly counterproductive. But there's no accounting for taste. :-)

[2019-03-21 14:20] ronaldtse commented on #13
It’s a matter of the text editor. If you find changing tabs better than scrolling, split files is easier (to me). If you like scrolling, a single file is easier.

I generally use editors that have good tab support, so I prefer split files (unless the document is short).

[2019-03-22 05:02] ronaldtse commented on #13
And this is the related OGC task: https://github.com/metanorma/metanorma-ogc/issues/23

[2019-03-27 15:05] ribose-jeffreylau opened #33 "Better support for cleaning out generated files"
Currently, when one wants to do `make clean`, one must rely on some sort of Makefile magic to guess what files are being generated by `metanorma`.

I see two ways going about this:

1. Make `metanorma` output the list of files it would generate, to STDOUT, so other utilities like `make` could make use of it.  Some sort of dry run.
2. Make a `metanorma clean` sub-command / option flag that cleans f

[2019-03-27 15:24] abunashir commented on #13
@ronaldtse: Let me try to summarize what do we need for this, I'm taking iso as an example.

* The `metanorma new -t iso doc-name` will create a new `doc-name` document
* This `doc-name` will contains the minimum of a Gemfile, index.adoc in the project

*Question*:

* What are the gems that we should add in the Gemfile for iso project?
* Do we have any example document/repo  with this similar stru

[2019-03-27 15:25] ronaldtse commented on #13
@abunashir going to push the templates in a few minutes 😉

It will be at https://github.com/metanorma/mn-templates-csd/

[2019-03-27 16:55] ronaldtse commented on #13
@abunashir just for the record.

We will start off the first iteration by creating a separate script called `metanorma-new` in `exe/`.

The CSD template repository of https://github.com/metanorma/mn-templates-csd is already done (mostly) and up.

The command is `metanorma-new -t {type} -d {doctype} [my-new-document-name]`
* `doc-type` does not need validation, as long as the remote git repo has th

[2019-03-27 16:59] ronaldtse opened #34 "Refactor CLI to use Thor"
We want to use the same command framework (Thor) as Relaton CLI.

[2019-03-27 18:50] abunashir commented on #34
It's your lucky day Ron 🕺, I'm already on it https://github.com/metanorma/metanorma-cli/pull/36 :)

[2019-03-28 00:02] ronaldtse commented on #34
Thanks @abunashir !

[2019-04-02 23:32] opoudjis commented on #16
Is this a duplicate of #13 ?

[2019-04-03 01:39] ronaldtse commented on #13
This is being done in #35

[2019-04-03 01:41] ronaldtse commented on #16
Yes, it is. Closing now.

[2019-04-03 01:41] #16 closed

[2019-04-03 04:40] ronaldtse opened #37 "Maybe ... `metanorma-cli` does not depend on the installation of `metanorma`"
Think about it. Installation of metanorma is quite complex and requires development rights on the machine.

* If the user already has metanorma installed, there's no need to run compilation on the remote end.

* For example, without metanorma installed, the user can still run `metanorma new -t iso -d standard my-standard`, then `metanorma compile my-standard`. I think we need some YAML config file

[2019-04-03 06:35] opoudjis commented on #37
... You've asked me to comment on this, @ronaldtse, but this truly makes no sense to me at all.

* All metanorma-cli does is gather up some command line options, and pass them and a file name on to the metanorma gem. Of course it depends on the metanorma gem.
* What you might be referring to instead is the installation of the Metanorma environment. And of course you're not going to be able to comp

[2019-04-03 06:38] ronaldtse commented on #37
Imagine there is a command called `metanorma-remote`. It compiles everything remotely. This command does not rely on a local metanorma environment -- it is only a pure Ruby wrapper.

Everything it does is sent to a remote endpoint that can execute them.

[2019-04-03 09:21] opoudjis commented on #37
It's still a command line. I don't see the attraction. If you can use a command line, it's not *that* difficult to install metanorma; the number of people who will want to run metanorma remotely, and will not want to use a Web UI, can't be big enough to bother supporting.

[2019-04-03 16:01] abunashir commented on #34
@ronaldtse, @opoudjis: I'm migrating our current `exe/metanorma` to thor based solution, so we can easily add any other commands to the same interface and also use other benefits of it. But there is  problem with the current executable, we are currently using it as root interface which is making it bit harder to hook the other sub-command to it.

For a CLI tool is't usual to show the help document

[2019-04-04 01:30] ronaldtse commented on #34
Finally found this issue :-)

1. Yes we want to use Thor.
2. Yes we can put under a sub command. However, we want to assume the root command is the “generate” or “compile” so that it adheres to current convention. I believe this should be doable under the Thor framework.
3. We want a help command (currently under -h) such as `metanorma help`).

[2019-04-15 08:18] ronaldtse opened #42 "Clean up `metanorma new` related functionality and tests"
Comments from review
* https://github.com/metanorma/metanorma-cli/pull/35#discussion_r275156303
* https://github.com/metanorma/metanorma-cli/pull/35#discussion_r275156566
* https://github.com/metanorma/metanorma-cli/pull/35#discussion_r275156585
* https://github.com/metanorma/metanorma-cli/pull/35#discussion_r275156633

Is this fixed?
* https://github.com/metanorma/metanorma-cli/pull/35#issuecomme

[2019-04-21 08:11] abunashir commented on #42
#### Pending

- [ ] Customized thor's default error messages

#### Done

- [x] Do not create directory from Travis CI
- [x] Re-Structure the newly created document

cc: @ronaldtse

[2019-04-22 01:25] opoudjis commented on #42
I've had a request from @CAMOBAP795 to expedite release of metanorma-cli, to address Appveyor issues with Windows deployment. @abunashir please let me know when metanorma-cli is ready to go.

[2019-04-22 17:58] abunashir commented on #42
The pending changes are done in the open pull request, once it's merged then we should have those functionalities in the CLI, the appvayor tests are still the same, so I would leave to Ron to decide.

cc: @ronaldtse, @opoudjis

[2019-04-22 18:04] abunashir commented on #34
It's done, @ronaldtse can we close this one or you want me to add something else there?

[2019-04-23 02:39] ronaldtse commented on #34
Thanks @abunashir , closing.

[2019-04-23 02:39] #34 closed

[2019-04-23 02:51] ronaldtse commented on #42
Remaining issues detailed in #43

[2019-04-24 16:03] abunashir opened #45 "Add usages documentation"
Comment from @ronaldtse in #43

While functionality wise this PR is good to go, we still need to get AppVeyor passing because Windows is crucial here.

Can you also help add/update the README to indicate how to use the functionality? Thanks!

How to use a default template repository
How to use a custom template repository (i.e. NIST at GitLab)
How to see what templates are supported by a repositor

[2019-04-24 16:21] ronaldtse commented on #45
Thanks @abunashir for moving this here!

[2019-04-24 17:44] ronaldtse commented on #42
#43 has merged. Closing.

[2019-04-24 17:44] #42 closed

[2019-04-24 17:45] ronaldtse commented on #13
#35 is done and merged (pending #45). Closing this now.

[2019-04-24 17:45] #13 closed

[2019-04-24 17:45] ronaldtse opened #46 "Make release"
As title. For @opoudjis

[2019-04-25 08:37] opoudjis commented on #46
OK, I will do global release of gems now.

[2019-04-25 10:52] opoudjis commented on #46
@abunashir, I invite you to write more detailed release notes on https://github.com/metanorma/metanorma-cli/releases/tag/v1.1.7

[2019-04-25 15:43] abunashir opened #47 "Removing support for old version"
With the recent update, we are pushing the new version of the CLI to live, but we still have an option to switch back to the old version by setting some specific configuration.

We are keeping this one to ensure backward compatibility for the moment and to make sure none of our tools breaks for these changes, so let's run it for a while and once confirmed then let's deprecate the old version and r

[2019-04-26 01:07] ronaldtse commented on #46
Done, thanks!

[2019-04-26 01:09] ronaldtse opened #48 "Spurious warning on "not a default standard type""
When running the CLI, this always shows up regardless of type specified.

[code]

This is no longer accurate because all standard gems are now loaded on demand. Previously this message indicated the loading of a custom gem.

How about we just remove this line?
[code]

Change
[code]
to
[code]

[2019-04-26 01:12] opoudjis commented on #45
cc @ronaldtse.

I've just realised that the new metanorma-cli, which I was asked to release, has a CLI that is not backward compatible, and that the change is not publicly documented.

The fact that there is an (undocumented) setenv workaround is not a mitigation; it is, after all, undocumented. Nor is the fact that the change in the CLI is the addition of one word (presumably).

This is live soft

[2019-04-26 01:23] opoudjis opened #49 "-r not working in new release"
`metanorma -t ogc -r metanorma-ogc test.adoc` does not work. Please address.

I have not put the setenv on for the new interface. Since `metanorma -t ogc test.adoc` does work, that's not the issue.

[2019-04-26 01:25] ronaldtse commented on #49
@abunashir you need to port:

https://github.com/metanorma/metanorma-cli/blob/master/exe/metanorma#L67-L74

to this file:

[2019-04-26 01:26] ronaldtse commented on #49
And I also found the overloading of `-r` here (https://github.com/metanorma/metanorma-cli/blob/23d43a944dbfd8013866f02551b8dfd4f6e2011d/lib/metanorma/cli/command.rb#L12) disturbing. Can we use another switch for "overwriting"?

[2019-04-26 01:35] ronaldtse commented on #45
@abunashir for this question: "How to see what templates are supported by a repository"

I think we need to implement actual functionality.

[2019-04-26 01:37] ronaldtse opened #50 "Command to list out what templates are available in a template repository"
From #45.

"How to see what templates are supported by a repository"

e.g.
[code]

Should list out what document templates are available for this flavor.

[2019-04-26 01:47] opoudjis commented on #46
... Not seeing any edits on the release; where did you put them?

[2019-04-26 01:48] ronaldtse commented on #46
Did not add any. Didn't realize you left this for @abunashir .

[2019-04-26 03:45] ronaldtse opened #51 "Bug: `metanorma new` does not copy dot-files"
In the `mn-templates-csd` template repository, the `common/` directory provides a number of dot-files, including:

* `.gitignore`
* `.gitlab-ci.yml`
* `.travis.yml`

However, today the `metanorma new` command does not copy them from `common`.

Example:

[code]

@abunashir could you fix this ASAP? Thanks.

[2019-04-26 11:15] CAMOBAP795 opened #52 "Crash on `metanorma --help/-h`"
[code]

cc @ronaldtse @opoudjis

[2019-04-26 11:24] ronaldtse commented on #52
The new command is `metanorma help`. @CAMOBAP795 or @abunashir can you help fix this?

[2019-04-26 11:24] ronaldtse commented on #52
In any case, the command should fail gracefully if there is no file supplied.

[2019-04-26 11:25] CAMOBAP795 commented on #52
@ronaldtse I can help if need, once I will finish some pending tasks

[2019-04-26 11:33] CAMOBAP795 opened #53 "Metanorma templates dir may have not permissions to write"
On OSX to install gems you need to have admin/root access

As a result when I tried to run `metanorma new test --type iso --doctype standard` (in the scope of https://github.com/metanorma/mn-templates-iso/issues/1 task) I got the error:

<details><summary>Strack trace</summary>
<p>

[code]

</p>
</details>

Should we handle this somehow? I hope we should use `$HOME/.metanorma` or something like th

[2019-04-26 11:40] ronaldtse commented on #53
This is strange, I'm not getting this. This is not trying to create a new gem.

It seems that the command is trying to clone the template repository into your Ruby library path? Any idea @abunashir ?

[2019-04-26 11:46] CAMOBAP795 commented on #53
@ronaldtse this is recent functionality AFAIK in metanorma https://github.com/metanorma/metanorma-cli/commit/fe0faaae11170b56b24c116146aa3d6f67e55216

[2019-04-26 13:02] ronaldtse commented on #53
Yes, but this is released functionality (gen version 1.1.7) and supposed to be stable. We need to fix this if the git clone is using system paths. It must use somewhere in the homedir.

[2019-04-26 13:18] abunashir commented on #51
Hi @ronaldtse we aren't copying the common files from each of the templates. Since we were duplicating the same common files in each of the templates, and in my primary investigation it looked exactly the same except (some standard specific gitignore), so that's why I moved those the `templates/base` folder under this CLI.

So, when ever we are generating a new document then this base templates +

[2019-04-26 13:26] ronaldtse commented on #51
Yes please do so, thanks @abunashir !

[2019-04-26 13:31] ronaldtse commented on #51
Will we be able to make a new release for this since the blog post is going out?

https://github.com/metanorma/metanorma.com/pull/82

[2019-04-26 14:04] abunashir commented on #51
I've pushed some changes and once merged then it should fix this issue. Btw, once merged let's also remove those common files for each separate template and only use the `templates/base` directory in this repo for all common templates. What do you think @ronaldtse ?

[2019-04-26 14:34] abunashir commented on #52
Thanks for reporting this one, Alex. I overlooked this but it should be fixed in #55

[2019-04-26 15:01] ronaldtse commented on #51
Yes please.

[2019-04-26 15:54] #51 closed

[2019-04-26 17:29] #52 closed

[2019-04-26 21:06] CAMOBAP795 opened #56 "Improve `metanorma help`"
### Intro / Problem

For v1.1.7 our `metanorma help` looks like this

[code]

I see a list of problems here:
 - No general description
 - No usage pattern
 - Not standardized action description (actions are compile, help, new, version)
 - No list of valid/accepted values especially for `--type` & `--doctype`
 - Poor error handling, just type wrong command name & it will print stack trace which doe

[2019-04-26 23:52] ronaldtse commented on #56
@abunashir we actually migrated to using Thor to handle our commands, previously we used OptionParser. Do you have a way of achieve the said solutions through Thor?

I think these can be done using Thor
* No general description
* No usage pattern
* Not standardized action description (actions are compile, help, new, version)

This is due to our current gem loading strategy which is load-on-demand.

[2019-04-27 13:12] CAMOBAP795 commented on #56
My bad, I missed this, BTW why we use Thor instead OptionParser?

[2019-04-27 13:14] ronaldtse commented on #56
Because Thor allowed us to establish a clean framework for commands (2nd level commands) in the `git` style. In our experience we found it much easier to maintain in the long run.

[2019-04-29 09:09] abunashir commented on #53
@ronaldtse Yes, we were using the gem directory to store our templates which might create some permission issue if we don't have the proper permission.

Like I mentioned in the PR, this is really a good idea to use the home directory, so if we want we can also use the same cache version throughout multiple versions.

In addition, we should also check if the template directory is writable or not, a

[2019-04-29 09:48] CAMOBAP795 commented on #53
@abunashir good catch, I will care that case

[2019-04-29 12:35] abunashir commented on #56
@ronaldtse, @CAMOBAP795 This is the default in build `help` format coming out of Thor, and used by most of the ruby based CLI. By default, the `help` command will describe the high-level commands, and if you want to find out the details for any command then you can use the `help [command_name]` and it will display the details with usages pattern. For example:

<img width="973" alt="Screenshot 2019

[2019-04-29 12:38] CAMOBAP795 commented on #56
@abunashir my original idea that it will be nice if `metanorma help new` will contain possible values for  `--type` & `--doctype`, how do you think about this?

[2019-04-29 12:38] abunashir commented on #56
@ronaldtse: I agree on this one, but as I mentioned to you earlier, loading those libraries upfront was solving this problem, but then it was making the whole CLI  supper slow, so I would say, until we have some optimized solution for this probably we can keep this one as a pending enhancement and describe that in the documentation.

[2019-04-29 12:39] abunashir commented on #56
I agree on this one, recently I did some update, so it shouldn't fail that easily anymore, instead say it out loud that that's probably an invalid file or command. But let me know if want me to add anything else there.

[2019-04-29 12:43] CAMOBAP795 commented on #56
@abunashir  I think it will be enough, is it committed already?

[2019-04-29 12:48] abunashir commented on #56
Yes, it was done here #55, but I don't think it was released in RubyGems yet.

[2019-04-29 12:52] abunashir commented on #56
We could have done that, but we would need to customize quite some stuff on setup, and also from my personal experience when you have an example with real value then the user is tempted to just copy and paste that command.

So, I actually like this way, in this case the user has some reference but not real value, so it kind of indication that they need to write it as necessary for their and maybe

[2019-04-29 12:52] ronaldtse commented on #56
Then can we do something like `metanorma list-doctypes  iso` to list out `iso` doctypes?

[2019-04-29 12:53] ronaldtse commented on #56
We already have the types documented in metanorma.com, but it's really annoying to keep look for that when the types are provided in the gems already.

[2019-04-29 12:54] abunashir commented on #56
Actually, I was thinking the same, have a separate command, and we can even invoke that automatically if metnorma raise an exception for invalid type 🕺

[2019-04-29 12:57] abunashir opened #59 "List out support doc types"
Add a new command line interface, that will list out the supported doctypes, details here: https://github.com/metanorma/metanorma-cli/issues/56#issuecomment-487567518

cc: @ronaldtse

[2019-04-29 13:09] abunashir commented on #46
@opoudjis I've updated the release notes, thanks! Should we also maintain a changelog whenever we are doing a version bump in the future?

[2019-04-29 14:16] ronaldtse commented on #59
Thanks!

[2019-04-29 14:17] ronaldtse commented on #56
Agree!

[2019-04-29 15:42] ronaldtse opened #60 "Update base templates (current Travis one not working)"
Use this travis config:
* https://github.com/metanorma/csa-caiq/blob/master/.travis.yml

Use this Makefile:
* https://github.com/metanorma/csa-caiq/blob/master/Makefile

Use this gitignore:
* https://github.com/metanorma/csa-caiq/blob/master/.gitignore

Remove `deploy.sh` (the Travis script uses https://github.com/metanorma/metanorma-build-scripts/blob/master/deploy-to-gh-pages.sh)

[2019-04-29 15:46] ronaldtse opened #61 "Update `Makefile.win` to mirror updated `Makefile`"
@CAMOBAP795 could you please help update `Makefile.win` to reflect the current `Makefile`?

1. There is no more `metanorma.env` file. The output formats are read via:
https://github.com/metanorma/csa-caiq/blob/c17534c929ff250cca6ed8dd127c60b078443a75/Makefile#L4-L5

2. The targets to decrypt deploy key are now removed (functionality moved to metanorma-build-scripts/deploy-to-gh-pages.sh)

https://

[2019-04-30 03:50] opoudjis commented on #46
I've been copying your annotations on pull requests until now.  I've been using tickets to assemble my release notes, but you can do whatever works for you - as long as I can find it.

[2019-04-30 08:20] ronaldtse opened #62 "Fix spec"
@CAMOBAP795 the latest PR was merged but master spec now failed:

[code]

[2019-05-01 13:57] #62 closed

[2019-05-01 13:59] ronaldtse commented on #60
@abunashir this is rather urgent. Thanks!

[2019-05-01 13:59] ronaldtse commented on #53
@abunashir is this now resolved with #64 ?

[2019-05-01 20:19] abunashir commented on #53
Yap, closing it now :)

[2019-05-01 20:19] #53 closed

[2019-05-01 20:32] abunashir commented on #60
@ronaldtse done in the attached PR, please check it out!

[2019-05-01 20:42] abunashir commented on #46
I was thinking more likely to commit the changelog with the repo - like this one here https://github.com/bundler/bundler/blob/master/CHANGELOG.md.

Whenever someone is adding a new feature, updating something that could fix a potential issue or add some breaking changes then let's also suggest them to update the changelog.

I hope this will save you some time, and also anyone else going through th

[2019-05-02 08:12] abunashir commented on #56
This should be resolved now, should we close this one? @CAMOBAP795, @ronaldtse

[2019-05-02 08:26] ronaldtse commented on #56
Yup, thanks @abunashir !

[2019-05-02 08:26] #56 closed

[2019-05-02 08:49] #60 closed

[2019-05-04 02:14] ronaldtse opened #66 "Add template reository commands"
`metanorma template source add` adds template repo to metanorma configuration.

`metanorma template source list` What sources are available.

`metanorma template source remove`

Or change `source` to another word.

[2019-05-04 11:10] CAMOBAP795 commented on #61
@ronaldtse should this be done for https://github.com/metanorma/unece-cefact-recommendation-42/blob/master/Makefile.win and https://github.com/metanorma/ogc-tcpnp/blob/master/Makefile.win too?

[2019-05-04 15:31] ronaldtse commented on #61
Yes, of course. To all the repos that have Makefile.win. Thanks!

[2019-05-06 10:05] opoudjis commented on #46
I have been annotating releases on all github releases I manage. If you want to do things that way, you can, but that's not how I'm managing the 50-odd gems I'm responsible for, and we have not discussed a Metanorma-wide approach to change logs.

[2019-05-06 10:06] #46 closed

[2019-05-08 05:04] CAMOBAP795 commented on #61
@ronaldtse 3 PRs ready for review
 - #67
 - https://github.com/metanorma/ogc-tcpnp/pull/6
 - https://github.com/metanorma/unece-cefact-recommendation-42/pull/6

OSX some OSX builds blocked by https://github.com/metanorma/metanorma-standoc/issues/69

[2019-05-10 00:34] ronaldtse opened #70 "URGENT: do not include enterprise flavors in default installation"
Report from https://github.com/metanorma/homebrew-metanorma/issues/15 :

A Homebrew default install shows a dependency error:
[code]

@opoudjis We need to ensure all dependencies are satisfied. The enterprise gems, `mpfd` and `ribose` flavors should not be included in the default installation and therefore should be removed from `metanorma-cli.gemspec`.

[2019-05-10 02:24] opoudjis commented on #70
Which are the enterprise gems? Which are the ribose flavours? Why exactly should they not be included? You need to give me more to work on than this.

[2019-05-10 02:47] ronaldtse commented on #70
Right now mpfd and ribose are non-SDO gems. Maybe we should just call these “private” gems?

[2019-05-10 05:32] opoudjis commented on #70
By Ribose, do you mean rsd?

[2019-05-10 05:38] ronaldtse commented on #70
Yes.

[2019-05-10 08:28] ronaldtse commented on #61
All done, thanks @CAMOBAP795 !

[2019-05-10 08:28] #61 closed

[2019-05-10 08:44] opoudjis commented on #70
I am pushing a version of metanorma-cli without the MPFD and RSD gems in the gemspec. And since I am convinced this is not going to fix the issue, https://github.com/metanorma/homebrew-metanorma/issues/15 must remain open. I will certainly not push an updated metanorma-cli gem until this has been further investigated.

[2019-05-10 08:48] #70 closed

[2019-05-10 13:50] abunashir commented on #49
@opoudjis, @ronaldtse: This issue should be resolved in the attached PR, please have a look and feel free to merge is it, thanks!

FYI, @ronaldtse  this also updates the `overwrite` options to be a straight forward flag!

[2019-05-10 13:56] abunashir opened #72 "Cleanup metanorma spec file"
The [metanorma_spec.rb](https://github.com/metanorma/metanorma-cli/blob/master/spec/metanorma_spec.rb) seems to be repeating lots of the steps, and it's quite hard to get a high-level idea by looking in it real quick, so the idea with this issue to clean up that spec file and refactor it a bit.

[2019-05-10 14:04] abunashir opened #73 "List supported tempaltes"
List out all supported templates - as mentioned in https://github.com/metanorma/metanorma-cli/issues/45#issuecomment-486894166

cc: @ronaldtse

[2019-05-10 14:11] abunashir commented on #48
@ronaldtse This one is coming from [metanorma/compile.rb#L54](https://github.com/metanorma/metanorma/blob/master/lib/metanorma/compile.rb#L54). Ideally, I would say we should also consider putting those debugging messages under a configuration or something.

cc: @opoudjis

[2019-05-10 14:14] abunashir commented on #27
Hi @opoudjis, did you have a chance to look into this one yet, if not please let me know, I might be able to help :)

[2019-05-11 03:58] ronaldtse commented on #48
Yes, please help proceed @abunashir . In this case please also setup debug mode with different levels of messages. Thanks!

[2019-05-13 12:32] opoudjis commented on #49
I have no particular problem with the PR, but... wouldn't you want to give a one letter option to overwrite too? Since -r is taken, what about -R?

[2019-05-13 12:33] CAMOBAP795 opened #74 "Metanorma don't return non zero exit code on failure"
I faced with this during https://travis-ci.com/metanorma/mn-templates-iso/jobs/199659544 https://ci.appveyor.com/project/ribose/mn-templates-iso/builds/24506334

metanorma command failed but CI pipeline is green because zero code was returned

@ronaldtse @abunashir please triage this, I can help with this if need

[2019-05-13 12:34] opoudjis commented on #27
Given everything that I have been deluged with, no, I have not, and since I've demoted it to mid priority, I am unlikely to get to it for a couple of months.

I clearly am overcommitted, and I am very reluctant to continue working on metanorma-cli, since you've refactored it so much anyway. You ok to take this task over?

[2019-05-14 14:04] abunashir commented on #49
Yap, we could do that, but since `-r` is already used, so instead of using the capital letter, what about we use `-y` (most of the tool use this to confirm with a message - similar to our case)?

[2019-05-14 14:12] abunashir commented on #27
Sure, I will put this one in my list then :) Thanks @opoudjis!

[2019-05-14 14:17] abunashir commented on #74
@CAMOBAP795: Yap, my bad, I apparently did not return the correct status code for this one, I will update this one right away :) Thanks!

[2019-05-14 14:29] ronaldtse commented on #49
I am uneasy with `-r` being overwriting -- maybe `-f` (force) would be better?

[2019-05-14 15:20] abunashir commented on #74
@CAMOBAP795: This should be fixed in the attached PR, could you please double check and possibly merge it if that fixes the issue?

[2019-05-14 15:25] abunashir commented on #49
@ronaldtse In the other interface, we are using `-f` to specify the format and I think we should try to keep some consistency throughout the CLI, so I went with `y`, Are you okay with that or you would prefer it to be changed to `-f'`?

[2019-05-14 17:16] #74 closed

[2019-05-14 17:36] ronaldtse commented on #49
Oh... `-f` is not currently used because we only support one type of input. It might change soon, but we can change the input format to use any other option argument. Any suggestion?

[2019-05-15 12:29] #49 closed

[2019-05-15 12:30] opoudjis commented on #49
@ronaldtse, @abunashir ended up using -y. It's an arbitrary choice, and that's ok.

[2019-05-15 16:08] ronaldtse commented on #49
@opoudjis fine, and we need to be sure we actually ask questions if we don't have `-y`, otherwise it breaks the convention.

[2019-05-16 08:09] abunashir commented on #49
@ronaldtse: Yap, we are asking the question here: https://github.com/metanorma/metanorma-cli/blob/master/lib/metanorma/cli/generator.rb#L125, and initially I added it to skip this question for our test suite

[2019-05-16 08:19] ronaldtse opened #76 "URGENT: Display possible extensions per standard type"
We need to return the list of possible extensions to generate. It was previously in the CLI but now taken out to skip loading of gems.

We need to show a list of valid extensions.

This is urgent. @abunashir can you please help? Thanks!

[2019-05-16 16:12] abunashir commented on #76
@ronaldtse: This one should e resolved in the attached PR, could you please check and merge if you are happy with it?

[2019-05-17 05:24] #76 closed

[2019-05-17 05:25] ronaldtse opened #78 "Add command to list ALL supported extensions"
I really don't think including 10 metanorma-* gems will cause loading to be slow.

There must be something we're doing wrong in that require tree or in gem enumeration?

[code]

_Originally posted by @ronaldtse in https://github.com/metanorma/metanorma-cli/pull/77#issuecomment-493138992_

[2019-05-17 09:10] #45 closed

[2019-05-17 09:11] ronaldtse opened #79 "Adopt Makefile/travis from https://github.com/CalConnect/csd-vpoll"
The Makefile and travis.yml there supports IETF documents too. Should we port them over?

[2019-05-17 14:20] abunashir commented on #78
@ronaldtse: This should be resolved in the attached PR!

[2019-05-18 12:42] #78 closed

[2019-05-21 14:14] opoudjis commented on #17
Since you're now doing metanorma-cli, I'm assigning this to you as well. This is a request from @ronaldtse to create an archive function in metanorma-cli, to zip up the set of Metanorma outputs from processing a document into a single zip file.

[2019-05-21 14:15] opoudjis commented on #26
I have real difficulty understanding this, and given that I'm no longer involved in metanorma-cli, I'm assigning this to @abunashir. @ronaldtse, you can explain what you want here to him.

[2019-05-23 04:20] ronaldtse opened #81 "Fix slow load time of `metanorma` command without use of bundler"
After installing metanorma (without using `bundle`), running the metanorma command is super slow. Notice that the slow code is at `bin/metanorma:23`.

This urgently needs fixing.

[code]

[2019-05-23 04:27] ronaldtse commented on #81
This file is generated by RubyGems:

`bin/metanorma`:
[code]

[2019-05-23 06:44] ronaldtse commented on #81
This apparently only appears in 2.5.x, not 2.6 (works fine in 2.6, with a short lag).

[2019-05-25 13:06] abunashir commented on #66
@ronaldtse: Why do we need that many levels of nested commands, what do you think about making it bit simpler, something like?

[code]

[2019-05-25 13:52] ronaldtse commented on #66
There are two separate concepts:

1. Template repository -- contains many templates
2. Template -- a single template

[2019-05-25 14:37] abunashir commented on #66
yes, but I don't understand the purpose of having it nested. How does that help? maybe you wanna explain the whole plan with template interface?

[2019-05-25 14:38] ronaldtse commented on #66
It doesn't have to be nested. As long as the user can manage template repositories and list templates, that's fine. Do you have any examples?

[2019-05-25 14:41] abunashir commented on #66
cool, I'm working on the `template add` interface, should push that one soon.

[2019-05-27 06:45] strogonoff opened #83 "Create a GUI-based fully featured Metanorma distribution"
To simplify end-user experience (not everyone is even familiar with a terminal), we could bundle a cross-platform GUI app that provides a visual editor for AsciiDoc-based markup languages used in Metanorma and is capable of outputting deliverables.

I believe, now there exist the key components that make the most tricky aspects of this doable with reasonable amount of effort:

* Cross-platform app

[2019-05-27 06:48] strogonoff commented on #83
Concerns:

* Electron-based apps are known for their size, requiring users to download the extra runtime environment.

* There are no known examples of Draft.js outputting AsciiDoc in the wild (much less Metanorma-specific formats), however from my experience the framework is a pleasure to use and is completely agnostic as to which blocks to manipulate, and in which way to output them.

[2019-05-27 06:50] ronaldtse commented on #83
@strogonoff this is a good idea (which we've all discussed to death), but with solid research here!

The best bet may be Electron. Technically we can compile Metanorma into JS via Opal (given that we abstract the XML and PDF printing dependencies).

[2019-05-27 06:55] strogonoff commented on #83
Thank you @ronaldtse! I did not imagine this idea would be new at all😅 just had to document one way of achieving this that occurred to me.

(Until today I did’t make the connection that Draft.js could help us make it a fully self-contained GUI, even though I’ve used Draft.js on another project not long ago)

[2019-05-27 06:57] ronaldtse commented on #83
@strogonoff this is certainly not a new idea, and we've discussed this issue for the longest time (since this is what people really want, a UI). But we haven't made efforts towards it yet for the obvious reasons...

[2019-05-27 06:58] ronaldtse commented on #83
It seems to me that with Electron we can also utilize Draft.js?

[2019-05-27 07:00] strogonoff commented on #83
Note that Draft.js is React-based, though I have successfully bundled it into an Angular app before ([and created a lib for that](https://ngx-draft-js-demo-6aa62.firebaseapp.com/), though this one specifically works with HTML format).

[2019-05-27 07:01] strogonoff commented on #83
@ronaldtse absolutely, can’t see why we wouldn’t be able to use it. Even if we don’t build the whole app in React, we can still use it in the editor UI.

[2019-05-27 07:06] strogonoff commented on #83
I’ll need to research some more what kinds of controls we might need for writing Metanorma’s Ascii{flavor} formats. Looks like one of the trickiest aspects might be wiring up editor controls, such as the aforementioned bibliographic reference insertion, in a way that ensures the result is compliant with the Ascii{flavor} format requirements.

[2019-05-31 14:08] CAMOBAP795 opened #85 "No way to get metarnorma-cli version"
It will be nice if `metarnorma version`command will return `metarnorma-cli`'s version, because for now, it works only with `-t` param like `metanorma version -t iso`

cc @ronaldtse

[2019-06-05 03:56] opoudjis commented on #85
That's logically asking for a different thing: the version of metanorma-cli (or, more correctly, of the metanorma gem), vs the version of the metanorma flavour gem.

[2019-06-06 03:12] ronaldtse opened #87 "Very annoying to tune the correct configuration script for Travis and GitLab"
The same goes for the `Makefile`, `.travis.yml` and `.gitlab-ci.yml`. Should we incorporate the workflow in these scripts into `metanorma-cli`?

Right now the `.travis.yml` file containing so many dependencies, I'd argue it is completely wrong. There should only be one command to handle all of this:

[code]

[2019-06-06 03:23] ronaldtse commented on #87
And we should be using this script instead: https://raw.githubusercontent.com/metanorma/metanorma-cli/master/templates/base/.travis.yml

Why is ci-master making the repos use an outdated script?

[2019-06-08 22:06] CAMOBAP795 commented on #87
I think `ci-master` script can help with this (or more general script which will be implemented in the scope of https://github.com/metanorma/metanorma-release/issues/1)

Technically `ci-master` have no restrictions on files which it can manage, and its good idea to keep Makefile and other common files in it

Travis CI which is attached above correspond to 5 repositories:
 - https://github.com/meta

[2019-06-09 01:38] ronaldtse opened #88 "`metanorma compile ...` path handling issues on windows"
`metanorma compile ... path` handling issues on windows. This is from https://github.com/metanorma/metanorma-ogc/issues/36#issuecomment-498020490 .

For @CAMOBAP795

[2019-06-09 01:39] ronaldtse opened #89 "`metanorma compile ... path` don't return non-zero exit code in case of error"
`metanorma compile ... path` don't return non-zero exit code in case of error. This is from https://github.com/metanorma/metanorma-ogc/issues/36#issuecomment-498020490 .

For @CAMOBAP795

[2019-06-09 05:38] ronaldtse commented on #87
@CAMOBAP795 I know `ci-master` script (which needs to be generalized into a separate repo, BTW) can help. However, we cannot expect Metanorma users to use `ci-master`.

There has to be a simpler way, e.g.:
* `.travis.yml` copy and paste from metanorma.com
* running a `metanorma ci setup` command (something like this)

What do you think?

[2019-06-09 07:55] CAMOBAP795 commented on #87
@ronaldtse I think I have better understanding now

Just one question, isn't this covered with `metanorma new ...` command which get a template from git, maybe we should add some flag to it like `metanorma new --upgrade` or add a new command as you proposed

But my point that this new command should not contain 'ci' word, to prevent potential misleading

[2019-06-09 19:44] CAMOBAP795 commented on #87
@ronaldtse configuration was updated list of PRs bellow:
 - https://github.com/metanorma/csd-public-documents/pull/3
 - https://github.com/metanorma/isodoc-rice/pull/6
 - https://github.com/metanorma/mn-ogc-documents/pull/2
 - https://github.com/metanorma/ogc-wfs/pull/2
 - https://github.com/metanorma/unece-cefact-plenary-2018-6/pull/2

And rest two not related to this topic but still
 - https://g

[2019-06-09 21:50] CAMOBAP795 commented on #81
According to my research, we fall into a problem which described here https://www.sitepoint.com/rubygems-slow/

I did `rbenv exec rbtrace --slow 2000 --exec metanorma` and found many calls to `Gem::Specification.find_in_unresolved_tree` each of this call took 2-3 second

As far as I understood the only solution for this is 'cleanup' installed gems and remove unused versions of gem

@ronaldtse @abu

[2019-06-12 13:38] CAMOBAP795 commented on #88
Looks like a problem with this line https://github.com/metanorma/metanorma/blob/master/lib/metanorma/output/pdf.rb#L7-L8

Working on unit tests

[2019-06-12 15:59] ronaldtse commented on #87
I think you're right about `metanorma new --upgrade`. Can you help add it?

[2019-06-12 16:00] CAMOBAP795 commented on #87
@ronaldtse for sure

[2019-06-13 04:15] CAMOBAP795 commented on #89
Looks like for missing file case it's already done so I just added unit test for this & PR for throw error if puppeteer step failed https://github.com/metanorma/metanorma/pull/65

[2019-06-13 05:06] ronaldtse commented on #81
@CAMOBAP795 I believe this is also due to our laxness in gemspec version specification. We need to ensure each metanorma gem has a tight version dependency. This is related to https://github.com/metanorma/metanorma-release.

[2019-06-13 07:03] ronaldtse commented on #89
Thanks @CAMOBAP795 !

[2019-06-17 13:08] CAMOBAP795 commented on #87
@ronaldtse just checked the code [we already have a similar option is `--overwrite`](https://github.com/metanorma/metanorma-cli/blob/master/lib/metanorma/cli/command.rb#L12)

So after https://github.com/metanorma/metanorma-cli/issues/87#issuecomment-500239625 accepting these PRs I think we can close this one

[2019-06-18 16:59] ronaldtse opened #91 "New template still doesn't include dot-files"
In #54 the generated templates is supposed to provide dot-files, but with the latest released gems, I still see:

[code]

Output of `ls`:
[code]

Seems like a bug to me?

[2019-06-19 08:09] ronaldtse commented on #87
@CAMOBAP795 I believe all of these are merged. Can you confirm? Thanks!

[2019-06-19 09:40] CAMOBAP795 commented on #87
@ronaldtse yep all of passed PRs was merged, thank you

[2019-06-20 14:27] abunashir commented on #91
That's strange, it seems to be working on my end.

**Generation**

<img width="836" alt="Screenshot 2019-06-20 16 24 11" src="https://user-images.githubusercontent.com/1220911/59856880-08880000-9378-11e9-904b-7a98da5ae382.png">

**Listing**

<img width="751" alt="Screenshot 2019-06-20 16 24 51" src="https://user-images.githubusercontent.com/1220911/59856934-22c1de00-9378-11e9-87ac-d5b924b87b1c.png

[2019-06-20 14:38] ronaldtse commented on #91
So the problem is that the latest released metanorma-cli still doesn't have this functionality. We need to release it...

[2019-06-20 14:47] abunashir opened #92 "Add verbose mode for the cli"
Based on the recent update in metanorma, we've different levels of logging and we've also changed it to display only the `:warning` and `errors`.

But in the long run, it might be useful to add some verbose mode, so the user can decide if they want to see what's going on under the hood, and also to pinpoint any issues during the development.

Related:

* https://github.com/metanorma/metanorma-cli/

[2019-06-20 15:26] ronaldtse commented on #92
Agree. Thanks for the suggestion @abunashir !

[2019-06-20 15:34] abunashir commented on #91
That's strange, I thought it was included in `v1.1.8` - https://github.com/metanorma/metanorma-cli/commit/218aca2f3253d0004c9fb409b76a5e3553d3d858, no?

[2019-06-20 15:39] ronaldtse commented on #91
[code]

[2019-06-20 16:40] ronaldtse opened #93 "Add IETF template repository to code"
The template is now at : https://github.com/metanorma/mn-templates-ietf

Ping @CAMOBAP795

[2019-06-21 09:38] strogonoff commented on #83
Here’s an interesting example, possibly source of inspiration or implementation avenue as alternative to DraftJS & Electron.

https://html-notepad.com/

It’s a cross-platform GUI app that allows to visually author HTML. (The author plans to add more markup languages as output, such as Markdown.) It opens folders, treating them as projects.

I imagine a GUI for the Metanorma app in a somewhat simil

[2019-06-26 00:31] #48 closed

[2019-06-29 11:50] abunashir commented on #81
@ronaldtse: by any chance do you have `METANORMA_DEV_MODE` environment variable set to `true`?

[2019-06-29 11:50] ronaldtse commented on #81
Of course not :wink:

[2019-06-29 12:13] abunashir commented on #81
I tried a clean installation in `ruby 2.5.1`, it seems to be okay in my machine, but it does install around 50 gems 😨

Trying to reproduce the issue, could you please sent me your `gem list | grep metanorma-cli`?

[2019-06-30 03:54] ronaldtse commented on #81
[code]

[2019-06-30 07:42] ronaldtse commented on #81
I believe the problem is more pronounced due to this issue (posted by sorah , a Ruby committer):

https://github.com/aws/aws-sdk-ruby/issues/1811

And there is a problem where the `gemspec`s aren't limiting the gems (too many gems match the criteria).

[2019-06-30 09:47] abunashir commented on #81
@ronaldtse: Yap, what's your suggestion to resolve this issue?

[2019-07-01 03:09] ronaldtse commented on #81
The suggested fix is: "Resolve gem versions early on":

From https://github.com/aws/aws-sdk-ruby/issues/1811#issuecomment-402909419
-------
But as you're saying, causing slow load pain with require "aws-sdk" is not intentional behavior (I understand you're agreeing with this).

That method does allow you to load a specific gem version, but it needs to be specified in code.
No. Kernel#gem is to act

[2019-07-06 14:31] #87 closed

[2019-07-06 14:32] CAMOBAP795 commented on #89
Done

[2019-07-06 14:32] #89 closed

[2019-07-06 14:34] CAMOBAP795 commented on #88
Done

[2019-07-06 14:34] #88 closed

[2019-07-06 14:39] CAMOBAP795 commented on #93
Done

[2019-07-06 14:39] #93 closed

[2019-07-07 15:31] #47 closed

[2019-07-08 01:53] opoudjis opened #96 "This project does not seem to be on appveyor"
https://ci.appveyor.com/project/metanorma/metanorma-cli

[2019-07-08 02:31] ronaldtse commented on #96
https://ci.appveyor.com/project/ribose/metanorma-cli

[2019-07-08 05:37] CAMOBAP795 commented on #96
README.md fixed 407858b

[2019-07-08 05:37] #96 closed

[2019-07-08 20:42] CAMOBAP795 commented on #85
I think it's will be useful for troubleshooting, and `metanorma version` may return both `$metanorma-cli-gem-version / $metanorma-gem-version` (or by using another separator)

@opoudjis how do you think?

[2019-07-09 00:37] ronaldtse commented on #85
I agree. There are other CLI that offer multiple version numbers, such as gpg .

[2019-07-18 04:20] ronaldtse opened #97 "Add ITU to official type"
ITU is now a standard type that should be included in normal Metanorma.

[code]

[2019-07-18 09:49] abunashir commented on #91
@ronaldtse: Is this one resolved now?

[2019-07-18 09:50] #27 closed

[2019-07-18 14:35] ronaldtse commented on #91
@abunashir no, this is still not working. Can you please help fix this?

[code]

Gemfile.lock:
[code]

[2019-07-18 14:37] ronaldtse opened #98 "Version command not working"
The version option doesn't seem working:

[code]

[2019-07-18 14:38] ronaldtse commented on #98
Without providing a type, it only shows the version of Metanorma::ISO. It should probably show ALL flavors.

[code]

[2019-07-18 14:38] ronaldtse commented on #98
The `metanorma -v` and `metanorma version` commands should be identical.

[2019-07-18 17:10] #91 closed

[2019-07-19 10:03] abunashir opened #101 "Missing version definations"
Some of the dependent gems did not include the `version` file by default, so when we try to display the versions then it throws some here.

<img width="706" alt="Screenshot 2019-07-19 12 00 18" src="https://user-images.githubusercontent.com/1220911/61527539-fbb10780-aa1c-11e9-9c52-5b49dafc576c.png">

@opoudjis: was it something we did for some reason or should we just go ahead and include those on

[2019-07-19 17:40] ronaldtse commented on #101
@abunashir all gems are supposed to have the VERSION constant. Could you help fix them? Thanks.

[2019-07-23 15:02] CAMOBAP opened #103 "metanorma local templates didn't handle symlinks correctly"
`metanorma new test/$template --type $TYPE --doctype $template --template . --overwrite` didn't handle symlinks correctly

Examples:
 - https://travis-ci.com/metanorma/mn-templates-ietf/jobs/213835475
 - https://travis-ci.com/metanorma/mpfd-documents/builds/120146974

[2019-07-24 21:54] opoudjis commented on #101
That is a surprise. Let me look at these.

[2019-07-24 21:58] opoudjis commented on #101
https://github.com/metanorma/metanorma-acme/blob/master/lib/metanorma/acme/version.rb defines Metanorma::Acme::VERSION. But it looks like I forgot to include the version.rb file in the parent ruby file. Fixing.

[2019-07-24 22:01] opoudjis commented on #101
Omission I can't really account for. Resolved.

[2019-07-24 22:01] #101 closed

[2019-07-25 07:17] ronaldtse commented on #101
@opoudjis OGC is also missing the version. Has that been fixed? Thanks.

[2019-07-25 07:18] ronaldtse commented on #101
Aha it was done here: https://github.com/metanorma/metanorma-ogc/pull/39 . Thanks guys!

[2019-07-25 08:27] abunashir commented on #101
Perfect, thanks a lot @opoudjis!

[2019-07-25 10:36] ronaldtse commented on #103
Ping @abunashir -- can you help with this? Thanks.

[2019-07-27 11:39] abunashir commented on #103
@CAMOBAP795: Are you working on this one?

[2019-07-27 11:43] CAMOBAP795 commented on #103
@abunashir not yet, I just found it

[2019-07-27 12:43] abunashir commented on #103
Cool, I will un-assign myself then!

[2019-07-27 13:59] opoudjis commented on #97
That error message was changed a month ago, which is why I could not find it. Please do not give out of date instructions.

[2019-07-27 14:04] #97 closed

[2019-07-27 16:29] ronaldtse commented on #97
It was valid on the date of posting, so kudos for fixing it.

[2019-08-01 14:05] abunashir opened #104 "Missing dependent backends"
There are some missing backends in our gem specs, looking at the commit message it might have some to do with enterprise gems, @opoudjis could you confirm?

<img width="681" alt="Screenshot 2019-08-01 16 03 43" src="https://user-images.githubusercontent.com/1220911/62299933-32a00800-b476-11e9-82bd-35312fb938ae.png">

[2019-08-01 14:07] abunashir commented on #98
@ronaldtse: Functionality wise this should be good (apart from missing back-end message), once you are happy could you please close this one?

[2019-08-01 14:10] abunashir commented on #81
@ronaldtse: I don't have an exact idea to fix this one yet, is it something major and worth spending the time now or should we postponed this until it become a big problem?

[2019-08-01 14:30] abunashir commented on #79
@ronaldtse: Is this still relevant?

[2019-08-01 14:34] ronaldtse commented on #79
@abunashir yes, it is still relevant. We don't want external Makefiles but want to include the functionality within the CLI (Metanorma CLI or Relaton CLI).

[2019-08-01 14:35] ronaldtse commented on #104
@abunashir yes this is correct. The enterprise gems should not be "default" but the CLI should be able to detect them if they are installed. If the enterprise gems are not installed, the lack of them should not cause any warning message.

[2019-08-01 17:07] ronaldtse commented on #81
@abunashir this is actually quite a significant problem for people who have upgraded the metanorma gem several times  without using bundler. Can you help us resolve this? Thanks!

[2019-08-01 17:09] ronaldtse commented on #98
Indeed. Thanks!

[2019-08-01 17:09] #98 closed

[2019-08-01 18:15] ronaldtse commented on #98
@opoudjis we just need to schedule this for the next release. Thanks.

[2019-08-02 11:43] opoudjis commented on #104
In fact, @abunashir, Ronald explicitly asked me to take those gems out of a previous iteration of Metanorma.

I'll assign the ticket back to you for @ronaldtse's requested resolution.

[2019-08-03 13:41] abunashir commented on #104
@ronaldtse: I've added a temporary fix, for now, it will silently ignore loading issue for this private gems. in the future, we also consider having those as configuration block.

[2019-08-03 13:53] abunashir commented on #79
@ronaldtse: What are the requirements here? Can you describe what exactly we want to achieve by this?

[2019-08-06 00:04] opoudjis commented on #85
I agree too.

[2019-08-06 00:07] #104 closed

[2019-08-08 07:27] ronaldtse opened #107 "`bundle exec rake spec` stalls on fetching invalid git repo"
Output:

[code]

[2019-08-11 13:37] abunashir commented on #107
Hi @ronaldtse, this should be resolved in the attached PR, could you please double-check?

[2019-08-11 14:45] abunashir opened #109 "Latexml issue for the test suite"
Hey there, we might have introduced some issue with our recent changes in `metanorma-standoc`, specifically after version `1.2.2`. Now our test suite seems to be throwing some error about missing `latexml `. log: https://travis-ci.org/metanorma/metanorma-cli/jobs/570490119#L832

<img width="1079" alt="Screen Shot 2019-08-11 at 4 39 04 PM" src="https://user-images.githubusercontent.com/1220911/6283

[2019-08-11 14:51] CAMOBAP795 commented on #109
Here is PR to fix this https://github.com/metanorma/metanorma-standoc/pull/98

[2019-08-13 03:34] ronaldtse opened #110 "Private gems in a configuration block?"
From @abunashir:

_Originally posted by @abunashir in https://github.com/metanorma/metanorma-cli/issues/104#issuecomment-517925598_

What did you mean by "configuration block"? I think we need a good way of loading private gems. Right now, we load them by inferring on the document flavor in the command line / file attribute:

e.g.

* Command line `metanorma -t {private-type} document.adoc`

* In d

[2019-08-13 04:57] #107 closed

[2019-08-17 07:59] abunashir commented on #110
I was thinking to have some interface that will allow a user to add their custom backend, more likely `metanorma backends add [backend name]`. That way we can only focus on the public backends and if anyone wants to add their own backend / private backend then they can do so.

[2019-08-17 08:11] ronaldtse commented on #110
Good idea. This goes back to our previous discussion of adding template repositories, needing a global metanorma config. This is also necessary for document repositories.

However the word “backend” may be a bit confusing. “Processor” sounds better.

That said “metanorma -t my-private-type blah.adoc” works equally well.

[2019-08-23 10:43] #85 closed

[2019-08-23 16:04] ronaldtse opened #112 "`master` build failing due to `metanorma version` changes"
Self explanatory on `master` branch on Travis.

[code]

[2019-08-24 08:00] #112 closed

[2019-09-07 13:46] abunashir commented on #109
@CAMOBAP795: Are we good with this one? Can we close this issue now?

[2019-09-07 14:49] CAMOBAP795 commented on #109
@abunashir I think we can close it because PR merged already

[2019-09-07 15:55] #109 closed

[2019-09-09 04:56] ronaldtse opened #115 "URGENT: `Metanorma::Cli::Errors::FileNotFoundError` hiding ALL unrelated errors"
Many file related errors are not `FileNotFound` errors.

Right now, there is no way to show the debug messages or actual error traces that caused the failure.

This task is to expose actual errors or at least provide a message + a method on how to show the debug messages/actual errors.

compiler.rb:
And here we lost ALL error and backtrace information by throwing a new error without context.
<img

[2019-09-09 04:58] ronaldtse commented on #115
I found out the "missing image" error will trigger this. This is completely unacceptable.

[code]

This is the original error. There is no mention of this cause during compilation. Clearly the error cannot be solved by the message "Not sure what to run? See `metanorma help`".

Ping @abunashir

[2019-09-09 05:55] CAMOBAP795 commented on #115
@ronaldtse just to be on the same page expected result is to:
 - ~"Not sure what to run? See metanorma help"~
 - re-throw original error

Also, I think that if we will include the line of code where error happens, that will be very usefull for end-users

How do you think?

[2019-09-09 06:00] ronaldtse commented on #115
I think the original error message was meant to be shown for the case when the user put in a missing file on the command line. But it is overzealous in catching ENOENT. It should only catch ENOENT of the SINGLE file.

[2019-09-09 06:05] CAMOBAP795 commented on #115
@ronaldtse got your point, what is expected behavior for handling missing files which were referred from `*.adoc` files?

[2019-09-09 07:32] ronaldtse commented on #115
@CAMOBAP795 :

* missing the input file directly (i.e. `metanorma compile {missing-file.adoc}`)' => raise error of file not found, explain to the user that the file is not found.
* any other error (including: missing image file, missing included doc file), write out a message that an error has occurred, if you want to see the full trace, use `--trace` option.

[2019-09-12 07:30] ronaldtse opened #116 "(URGENT) Add IEC flavor to metanorma-cli"
As title. Necessary for the IEC blog post to be published.

[2019-09-14 12:43] #116 closed

[2019-09-15 11:11] abunashir commented on #115
Sorry, I overlooked this one. @CAMOBAP795: Are you working on it?

[2019-09-21 07:46] strogonoff opened #118 "Unclear how to install PlantUML for Metanorma under Ubuntu Linux"
[Installation guide here](https://www.metanorma.com/software/metanorma-cli/docs/installation/#plantuml) ([source](https://github.com/metanorma/metanorma-cli/blob/master/docs/installation.adoc#plantuml)) gives a one-liner for PlantUML installation on macOS, but for Linux it refers to `.travis.yml`.

Which `.travis.yml` is meant?

Perhaps the docs could link it? I can make a PR to add the link, but

[2019-09-21 07:55] strogonoff opened #119 "`gem install metanorma-cli` fails"
On fresh install of Ubuntu 18.04 I’m getting the following:

[code]

Since it’s one of the official ways to install Metanorma in project’s docs, filing as “bug”

[2019-09-21 08:07] ronaldtse commented on #119
That's so strange. @opoudjis could you help here? I think `metanorma-iec` 0.0.5 is NOT released.

[code]

[2019-09-21 08:33] ronaldtse commented on #118
@strogonoff the PlantUML installation script for Ubuntu is this:

https://github.com/metanorma/plantuml-install/blob/master/ubuntu.sh

[2019-09-21 08:51] ronaldtse commented on #119
@strogonoff : @opoudjis has just released `metanorma-iec` version `0.0.5`. Closing this for now.

[2019-09-21 08:51] #119 closed

[2019-09-23 00:10] ronaldtse commented on #115
I've just commented out this error catching code for sanity in new releases. This feature has to be implemented properly.

[2019-09-23 00:11] ronaldtse commented on #118
Closing this for now.

[2019-09-23 00:11] #118 closed

[2019-09-23 01:35] #115 closed

[2019-09-23 06:33] CAMOBAP795 commented on #115
@ronaldtse I suppose make sense to keep it open, right?

[2019-09-23 07:14] ronaldtse commented on #115
I've already fixed the issue.

[2019-09-26 07:51] ronaldtse opened #120 "Potentially move flavor dependencies to `metanorma` gem?"
From @skalee

I'm open. Let's discuss for a better alternative.

[2019-09-26 07:52] skalee commented on #120
From my discussion with @opoudjis

I suppose the only reason that it is currently separated is that mn-cli introduces plenty of additional dependencies.
But I think that either they should be made optional, or that some extra features should be extracted to another gems.
Besides, having CLI in a separate gem with so many dependencies means that you either need to install everything, or have no CLI

[2019-09-26 08:00] ronaldtse commented on #120
The situation today is the `metanorma` gem provides a generic interface for Metanorma flavor gems, like `metanorma-iso`.

My intention of the `metanorma` gem was meant to be used to parse and write a Metanorma data structure. i.e.

[code]

Here's what I think:
1. I agree that `metanorma-cli` should not include all flavors.
2. I do not agree that `metanorma` gem is where the flavors are included, n

[2019-09-27 08:28] skalee commented on #120
In my opinion the key problems are as follows. It appears that @ronaldtse disagrees with it, at least partially. Also I'm disagreeing with myself as well, because some of my observations are contradictory. Anyway, here are my comments.

### Metanorma-CLI has a huge amount of runtime dependencies

As of current master,

[code]

Multiple flavours and Git integration. That means that you cannot have

[2019-10-10 23:10] ronaldtse opened #121 "Migrate to GitHub Actions"
Remove Travis and AppVeyor.

[2019-10-19 17:36] ronaldtse opened #122 "Metanorma-CSAND appears twice in `metanorma version`"
Self explanatory output: (this is with the latest metanorma CLI)

[code]

[2019-10-22 11:43] andrew2net commented on #122
@ronaldtse do you relay want to assign it to me?

[2019-11-29 01:30] opoudjis commented on #121
Reminder to do this; I need this for the dashboard for gem updates.

[2020-01-26 06:15] ronaldtse opened #125 "CLI template new should support offline operations"
From https://github.com/metanorma/metanorma-csd/issues/79 :

In order to support offline generation of documents, we can git submodule the template repository into metanorma-xxx gem, so that we can still generate new documents from these templates even when the computer is offline.

_Originally posted by @ronaldtse in https://github.com/metanorma/metanorma-csd/issues/79#issuecomment-578472166_

[2020-01-31 12:37] abunashir commented on #122
Just to add to this existing issue - the current executable is throwing out the following error:

<img width="675" alt="Screen Shot 2020-01-31 at 1 34 22 PM" src="https://user-images.githubusercontent.com/1220911/73539925-df137480-442e-11ea-9be9-3661798e684e.png">

[2020-01-31 13:08] ronaldtse commented on #122
It has been renamed to “metanorma-csa”. Could you help fix it? Thanks!

[2020-01-31 13:09] CAMOBAP795 commented on #122
@ronaldtse @abunashir I can help

[2020-01-31 13:10] ronaldtse commented on #122
Please help then. Thanks!

[2020-01-31 22:27] ronaldtse commented on #121
@CAMOBAP795 ping again

[2020-02-01 11:12] CAMOBAP795 commented on #121
https://github.community/t5/GitHub-Actions/Triggering-by-other-repository/td-p/30668

[2020-02-02 00:47] ronaldtse opened #128 "URGENT: GHA trigger failing due to missing parameters"
Is there any existing GitHub Actions that we can re-use here?

<img width="788" alt="image" src="https://user-images.githubusercontent.com/11865/73601233-97106100-4598-11ea-90fd-d2203d933173.png">

[2020-02-02 05:40] CAMOBAP795 commented on #128
@ronaldtse I have no access to settings of this project so I cannot add a secure variable:
 - PAT_USERNAME - GitHub user id (maybe we have special GH user to trigger build)
 - PAT_TOKEN - Personal Access Token - https://help.github.com/en/github/authenticating-to-github/creating-a-personal-access-token-for-the-command-line

[2020-02-04 16:27] ronaldtse commented on #121
Done in #127 . Closing.

[2020-02-04 16:27] #121 closed

[2020-02-09 07:22] ronaldtse commented on #128
I've added the secrets, let's see if it works...

[2020-02-10 01:02] ronaldtse opened #129 "Rubygems warning: nil versions are discouraged and will be deprecated in Rubygems 4"
On execution of `metanorma` I'm getting this. Not sure where this comes from.

Can we fix this?

[code]

[2020-02-18 00:23] ronaldtse opened #130 "Building document collections with a manifest (and replace `Makefile`)"
Since https://github.com/metanorma/metanorma/issues/91 is implemented, we are able to compile the following without giving any options (as all options can be incorporated in input files):

[code]

The `Makefile` is used for batch processing of multiple Metanorma documents at once:
* Some MN documents need to be compiled from source (.adoc).
* Some MN documents are already in MN XML format, but nee

[2020-02-23 14:46] abunashir commented on #129
@ronaldtse: I was trying to reproduce this issue, but no luck, are you running the latest version on your Mac, any idea how can I reproduce this issue?

[2020-02-25 23:31] opoudjis commented on #122
This issue has been resolved.

[2020-02-25 23:31] #122 closed

[2020-03-02 07:29] CAMOBAP795 opened #131 "Create setup command"
Based on https://github.com/metanorma/homebrew-metanorma/issues/36#issuecomment-593185149 comment

[2020-03-02 18:42] CAMOBAP795 commented on #131
closed after discussion with @opoudjis

[2020-03-02 18:42] #131 closed

[2020-03-08 14:12] ronaldtse commented on #81
Ping @abunashir.

[2020-03-20 13:27] ronaldtse commented on #81
As mentioned in https://github.com/aws/aws-sdk-ruby/issues/1811#issuecomment-402909419:

I think we should:
1. Verify that our issue is caused by `Gem::Specification.unresolved_deps`
2. Fix this issue using the recommendation above.

[2020-03-27 00:57] ronaldtse opened #134 "Add `--output-dir` functionality"
To allow all output to be generated in the `--output-dir={dir}` location.

[2020-03-27 09:35] opoudjis commented on #130
I stopped caring about metanorma-cli a long time ago, as you well know. I don't care what is done to trigger documents, but this solution appears to me pointless. You are asking people to manually specify formats per flavour, and the only justification for doing so is that not all flavours support all formats—which is something Metanorma already knows perfectly well. Are you not torturing users en

[2020-03-27 09:38] ronaldtse commented on #130
The sample repos are maintained tirelessly using Makefile targets and frankly I am sick of doing that. The sample repos (and for matter of fact, document repos) need a mini site to host.

That's why this is a concrete proposal of what is necessary for us to stop carrying the Makefile and its platform-dependent behavior. You can't assume the problem doesn't exist because you never needed it.

[2020-03-27 09:41] ronaldtse commented on #130
In fact, @CAMOBAP795 and I have been dealing with breaking Makefiles. So we're going to move it to Ruby.

@CAMOBAP795 @abunashir does the proposed syntax work with you?

[2020-03-30 10:23] ronaldtse commented on #134
This means all the derived output:
* MN XML
* other rendered formats HTML/PDF/RXL/DOC
* error output: `.err`

should all be created in this output dir.

[2020-03-31 03:24] ronaldtse commented on #134
@abunashir would you have time for this after fontist? Thanks!

[2020-05-04 05:56] #128 closed

[2020-05-05 12:41] CAMOBAP commented on #103
looks like not a case anymore, need to be doublechecked

[2020-05-05 12:43] #103 closed

[2020-05-24 07:18] ronaldtse opened #142 "Add NISO STS / ISOSTS output via mn2sts"
mn2sts is a Java program that converts Metanorma XML into NISO STS XML output.

This task is to integrate the `sts.xml` output format for Metanorma-ISO and Metanorma-IEC.

The gem `mn2sts` is available from https://github.com/metanorma/mn2sts-ruby

[2020-06-05 01:57] opoudjis commented on #142
Duplicates https://github.com/metanorma/metanorma-iso/issues/386

Assigning me the same ticket twice is not going to reduce the backlog getting in the way of me doing it, @ronaldtse

[2020-06-05 01:57] #142 closed

[2020-06-08 12:28] CAMOBAP opened #144 "dispatch_repository broken on release"
https://github.com/metanorma/metanorma-cli/runs/749732886?check_suite_focus=true#step:6:1

[code]

Two problems here:
 - dispatch_repository problem with payload
 - dispatch_repository not triggered for tags

[2020-06-08 18:57] CAMOBAP opened #147 "Windows tests are broken"
Reason 100% the same as for https://github.com/relaton/relaton-cli/issues/79

Action items:
 - [x] move to `` or `Open3.capture3` API for command execution
 - [x] Prepare minimal reproducible code snipped to report the issue to external component

[2020-06-08 19:02] CAMOBAP commented on #144
Code pushed but I cannot release because

`You do not have permission to push to this gem. Ask an owner to add you with: gem owner metanorma-cli --add abobrikovich@gmail.com`

I need a new release (1.2.13.1) to trigger other repos build

@opoudjis @ronaldtse can someone allow me to release

[2020-06-08 19:27] ronaldtse commented on #144
Done!

[2020-06-08 20:17] CAMOBAP commented on #147
https://github.com/chef/win32-process/issues/30 - reported

[2020-06-08 20:20] CAMOBAP commented on #144
Repos below wasn't triggered by some reason
 - packed-mn
 - chocolatey-metanorma

Investigating

[2020-06-08 20:31] ronaldtse commented on #144
@CAMOBAP

packed-mn failed:

[code]

[2020-06-08 20:39] CAMOBAP commented on #144
Right regarding `packed-mn`, https://github.com/metanorma/packed-mn/runs/751399100?check_suite_focus=true I will check it

For `chocolatey-metanorma` it report
[code]

Maybe it's related to missing `secrets.PAT_TOKEN`.

@ronaldtse as far as I remember we added `secrets.METANORMA_CI_PAT_TOKEN` to our repos also, `secrets.PAT_TOKEN` and `secrets.METANORMA_CI_PAT_TOKEN` should be the same right?

[2020-06-08 21:48] CAMOBAP commented on #144
Investigation/work will be continued in:
 - https://github.com/metanorma/chocolatey-metanorma/issues/47
 - https://github.com/metanorma/packed-mn/issues/27

[2020-06-08 21:48] #144 closed

[2020-06-20 08:39] CAMOBAP opened #149 "Trigger mn-templates-* mn-samples-* tests"
@opoudjis @ronaldtse I need your opinion, to me, it looks like we need to trigger it for each push to master not just for release flow.

Make sense?

[2020-06-20 10:13] ronaldtse commented on #149
@CAMOBAP Yes, we should trigger mn-{samples, templates}-* tests in `metanorma-cli` repo for all pushes to master and PRs. Thanks!

[2020-06-21 07:24] opoudjis commented on #149
And as discussed yesterday, for each template:

* Extract the bibdata element to a text file
* Compare the currently generated document's bibdata element to that text file:

[code]

For definitions of xmlpp and strip_guid, see any metanorma flavour spec_helper:

[code]

[2020-06-22 08:22] CAMOBAP commented on #149
Done for templates
 - https://github.com/metanorma/metanorma-cli/pull/new/feature/trigger-templates

For mn-samples-* I need a think a bit how to implement it better (there is several approach how it can be done)

[2020-06-22 08:50] CAMOBAP commented on #149
@ronaldtse @opoudjis btw how do you think if we will run tests samples/templates on change of respective metanorma processor? It sounds reasonable to me

[2020-06-22 09:55] ronaldtse commented on #149
@opoudjis can we *not* use REXML?

[2020-06-22 09:55] ronaldtse commented on #149
Yes please, thanks.

[2020-06-23 01:40] ronaldtse opened #151 "`metanorma` CLI does not return correct success value if a processor fails"
This happens in metanorma-ietf. If output that depends on RFC XML (`txt` and `html` format) fails to be generated, the CLI does not return a failed status.

In this run, you can see these issues escaping:

https://github.com/celic/acvp-metanorma/runs/796742721?check_suite_focus=true

[code]

Metanorma CLI should return a non-zero return code when any document (and output) failed to compile.

[2020-06-23 14:22] andrew2net commented on #151
@ronaldtse do you mean we should exit with non-zero code when the first error occurs?

[2020-06-23 23:11] ronaldtse commented on #151
@andrew2net I think at the "end" we should output the non-zero code.

[2020-06-24 12:23] #151 closed

[2020-06-25 14:07] opoudjis commented on #149
@ronaldtse ... why?

I'm using it so that the XML outputs of rspec line up. There is no functionality issue here. It's working.

[2020-06-29 02:33] ronaldtse opened #154 "Test failing test suite"
@andrew2net: This was failing the test suite, I'm skipping this one for the PR, but could you please have a look into this afterword and create a new PR if necessary?

_Originally posted by @abunashir in https://github.com/metanorma/metanorma-cli/pull/143_

[2020-06-29 02:36] ronaldtse commented on #147
@CAMOBAP is this fixed? Thanks.

[2020-06-29 06:50] CAMOBAP commented on #147
Yep, it's done

[2020-06-29 06:50] #147 closed

[2020-07-03 04:41] ronaldtse opened #155 "When extensions are explicitly given, DO NOT generate all formats"
e.g. document contains:

[code]

Then only these extensions should be generated. Right now, it's generating even STS output.

[2020-07-03 04:42] ronaldtse commented on #155
@andrew2net a bit urgent on this one. Can you help? Thanks!

[2020-07-03 10:49] andrew2net commented on #155
@ronaldtse is there any sample files?
I've tried to convert spec/fixtures/sample-file.adoc file. It contains `:mn-output-extensions: xml,html`. And I got 3 files:
[code]

[2020-07-03 10:54] ronaldtse commented on #155
Can you try a file in mn-samples-iso? Thanks.

[2020-07-03 12:22] andrew2net commented on #155
@ronaldtse it tried `sources/amendment/rice-amd.awi.adoc` form mn-sample-iso with `:mn-output-extensions: xml,html,doc,html_alt,pdf,rxl` and got next files:
[code]

[2020-07-03 13:04] andrew2net commented on #154
@ronaldtse I don't see any test failing. Can we close this issue?

[2020-07-03 14:35] ronaldtse commented on #154
Fantastic. Thanks!

[2020-07-03 14:35] #154 closed

[2020-07-03 15:08] ronaldtse commented on #155
@andrew2net that's very strange. In https://github.com/metanorma/iso-10303-2 I see:

[code]

[code]

[2020-07-03 16:51] ronaldtse commented on #130
This is also somewhat related to https://github.com/metanorma/metanorma-cli/issues/134

[2020-07-03 16:52] ronaldtse opened #156 "Consider `metanorma-remote`: compiles everything remotely without needing to install the stack"
Imagine there is a command called `metanorma-remote`. It compiles everything remotely. This command does not rely on a local metanorma environment -- it is only a pure Ruby wrapper.

Everything it does is sent to a remote endpoint that can execute them.

_Originally posted by @ronaldtse in https://github.com/metanorma/metanorma-cli/issues/37#issuecomment-479359685_

[2020-07-03 16:53] ronaldtse commented on #37
Closing this in favor of #156

[2020-07-03 16:53] #37 closed

[2020-07-04 17:17] andrew2net commented on #155
@ronaldtse I think the issue is in the Makefile. It builds `iso-10303-2.xml` from `iso-10303-2.adoc` first. Then it builds all other formats from the XML file. I suppose because the XML file doesn't contain any output extensions the metanorma builds files in all possible formats.
I don't know why the Makefile is done that way. Do you agree we should build documents from the ADOC file, not from XML

[2020-07-05 07:06] ronaldtse commented on #155
@andrew2net you are right!! I forgot that.

It was done that way to separate the Adoc->XML generation (the canonical format is XML, as "encoding") and XML->others ("rendering).

In this case I guess the correct solution is not to generate "ALL" output... Let's hold this for now. Thanks.

[2020-07-06 17:22] ronaldtse opened #158 "`metanorma setup` seems to provide garbled output?"
From @TRThurman :

It's showing:

[code]

[2020-07-06 17:23] ronaldtse commented on #158
@abunashir I wonder why this is happening. I believe this is for Catalina. I've never encountered this, though. Garbled text can either be due to shell issues or parallel processing, which I don't think is happening here?

[2020-07-07 17:47] andrew2net commented on #134
@ronaldtse the `metanorma` using `metanorma-*` flavor gem's Processor to make an `Asciidoctor::Document` and the asciidostor document using backend (flavor gem) to convert the document. The flavor gems depend on the `metanorma-standoc`, which takes a dir from the asciidostor document filename and writes `*.err` file to the dir.
To change dir for `*.err` file we need update all flavor gems, put out

[2020-07-08 02:50] ronaldtse commented on #134
The motivation for changing the output directory is that sometimes the input directory is not writable. Even if we can copy out the file for compilation, if the input file contains multiple includes, it becomes very tricky.

Maybe @opoudjis can give some hint on how to achieve this in a simpler way?

[2020-07-08 08:15] opoudjis commented on #134
There is a very simple solution to this, which harnesses something already put in place.

`@localdir` is there to address the fact that, if asciidoctor is invoked from a directory other than the directory the file is in, the path of the directory can be added to any files output. It is populated through the input file, and is (or should be!) used for all output files, so that they are in the same

[2020-07-08 09:14] ronaldtse commented on #134
Thanks @opoudjis ! @andrew2net hope this is sufficient for you.

[2020-07-08 13:27] andrew2net commented on #134
@opoudjis I see the only way to pass the argument into the call to asciidoctor is adding it to the `Processor#input_to_isodoc` method. But we have to update the method in all metanorma-* flavor gems. Ronald's question was if there is a more simple way. Looks like there isn't

[2020-07-10 15:35] #134 closed

[2020-07-18 07:52] abunashir commented on #158
I'm not sure either, we're not doing any parallel processing for installation but I will double-check with my device that's running Catalina.

[2020-07-23 02:15] ronaldtse opened #163 "Use IETF sample from mn-samples-ietf instead of draft-gold-acvp-sub-kdf135-x942"
We should use one of the samples from https://github.com/metanorma/mn-samples-ietf instead. Just update the line in the sample to use the same `:mn-output-extensions:' as the old file.

[code]

[2020-07-23 02:23] #163 closed

[2020-07-23 13:16] opoudjis opened #164 "Bad testing of interactivity"
spec/acceptance/setup_spec.rb is not working:

In my mac, Fontist is (inaccurately) concluding that HanSans is not installed. Therefore, it attempts to download the font.

For whatever reason, downloads are getting stalled on my machine tonight; I failed to download the xalan executable in a makefile earlier tonight. So the attempt to download the font file, in fontist: lib/fontist/utils/downloade

[2020-07-23 14:43] ronaldtse commented on #164
This is posted in fontist/fontist#95.

[2020-07-23 14:46] ronaldtse commented on #164
Timeout issue posted in fontist/fontist#96.

[2020-07-26 09:07] abunashir commented on #164
Good call to disable the tests for now, I will add some mock soon!

Regarding the stalling issue, my best guess it's related to the super slow web archive, but yes, I think we need to add some timeout option there so it doesn't try forever. I will investigate what happened there.

[2020-07-26 15:55] abunashir commented on #164
Updated in the attached PR, let me know if there are any other issues! cc: @opoudjis, @ronaldtse

[2020-07-27 00:37] ronaldtse opened #166 "Font license with no content?"
When I ran `metanorma setup` I got this. There is no content for SourceCodePro-Light.

P.S. I think this should be moved to Fontist.

[code]

[2020-07-27 14:41] #164 closed

[2020-08-02 12:16] abunashir commented on #166
@ronaldtse Looks like there is no license specified in the [source formula](https://github.com/fontist/fontist/blob/master/lib/fontist/formulas/source_fonts.rb), but speaking of that, should we disable that license prompt in case there are no license specified in the font formula?

[2020-08-02 12:46] abunashir commented on #158
@ronaldtse: Unfortunately I could not reproduce this in any of my devise, @TRThurman: Do you still face this issue with the latest version?

[2020-08-02 16:10] ronaldtse commented on #166
Yes, for “open source licenses” we should skip the prompt.

[2020-08-03 19:32] TRThurman commented on #158
This is my version.
How do I update:
Metanorma 1.0.5
Metanorma::Cli 1.2.11
nil versions are discouraged and will be deprecated in Rubygems 4
Metanorma::Standoc 1.3.28/IsoDoc 1.0.26
Metanorma::ISO 1.3.24
Metanorma::Iec 1.0.6
Metanorma::Ietf 2.0.10
Metanorma::Gb 1.3.23
Metanorma::Csd 1.3.21
Metanorma::Csa 1.4.10
Metanorma::M3d 1.3.19
Metanorma::Generic 1.4.8
Metanorma::UN 0.3.8
Metanorma::NIST 1.0.7

[2020-08-03 20:04] TRThurman commented on #158
I found it.
brew tap metanorma/metanorma
brew install metanorma

[2020-08-06 10:51] ronaldtse opened #169 "(URGENT) Gemspec files including local build files"
https://github.com/metanorma/metanorma-cli/blob/81fdfba40965152b357252f9fdbf278b794d6439/metanorma-cli.gemspec#L17-L18

These lines are including all the local build artifacts as described here. We need to fix this:

See https://github.com/metanorma/packed-mn/issues/57#issuecomment-669855919 for the files.

[2020-08-06 11:55] #169 closed

[2020-08-06 14:23] abunashir commented on #158
Thanks for the details @TRThurman, the local CLI version seems to be outdated and there were quite some changes since then, could you please try to run `brew update` and see if that fixes the issue?

Brew help: https://docs.brew.sh/FAQ#how-do-i-update-my-local-packages
Releases: https://github.com/metanorma/metanorma-cli/releases

[2020-08-12 12:21] #166 closed

[2020-08-24 12:44] Kritner opened #171 ""File not found" not failing build within metanorma build document container"
We had [this](https://github.com/usnistgov/ACVP/issues/964) issue come in, and it took me a few minutes to realize that the "RSA" document was not showing up on our GH pages due to the RSA document "failing" to build, but not actually failing the build step.

The fix was simple enough, ensure the casing was correct between the filesystem and files "included" in our `.adoc` references.  I would hav

[2020-09-01 17:02] ronaldtse commented on #130
Actually this is of high priority. @andrew2net do you have time for this? Thanks.

[2020-09-01 17:51] andrew2net commented on #130
@ronaldtse I have other tasks, but it's up to you how to prioritize them. Just need to finish [relaton-iho committees](https://github.com/relaton/relaton-iho/issues/6)

[2020-09-01 17:51] ronaldtse commented on #130
@andrew2net in this case let's finish relaton-iho first. Thanks.

[2020-09-02 00:19] opoudjis commented on #171
The issue is to trigger a fail if an included document in asciidoctor does not exist. This does not get detected because of how asciidoctor preprocessing is segregated from Metanorma processing; will see if it generates rescuable error

[2020-09-02 00:43] opoudjis commented on #171
Asciidoctor is using logger, so need to catch them from STDERR and parse them before proceeding

[2020-09-02 12:01] #171 closed

[2020-09-11 18:30] Kritner opened #172 "Build errors seeming to point to metanorma docker image"
https://github.com/usnistgov/ACVP/runs/1103267311

![image](https://user-images.githubusercontent.com/8814983/92960208-39e86200-f43b-11ea-88bb-46c66bb4f26b.png)

Not sure if I can provide any further information, I can't say I've noticed these errors before in the build logs, usually if we get them it's related to pulling RFC documents and it pretty transient.  In this instance, that does not seem

[2020-09-11 23:55] ronaldtse opened #173 "(URGENT) Failure in metanorma-cli"
From @petithug

Also reported by https://github.com/usnistgov/ACVP at https://github.com/metanorma/metanorma-cli/issues/172

[code]

[2020-09-11 23:55] ronaldtse commented on #172
@Kritner so sorry about this. We'll fix this. Apologies.

[2020-09-11 23:56] ronaldtse commented on #173
I can reproduce this locally:

[code]

[2020-09-11 23:59] ronaldtse commented on #173
Here's the real error:

[code]

[2020-09-12 00:08] ronaldtse commented on #173
Issue fixed in https://github.com/plurimath/latexmath/commit/1357c73035b37db02dfa164c287fa105518ea0fa

[2020-09-12 01:29] ronaldtse commented on #172
This should be fixed in #173

[2020-09-12 01:39] ronaldtse opened #174 "(URGENT) Stabilize the release process"
A failure in the toolchain has tremendous impact on downstream users, especially for those who integrate metanorma into their custom build processes. This is seen in #172 and #173 reported by multiple parties.

1. We must use PRs for ALL updates to ensure all tests pass. If the tests do not pass due to external failures, we do not merge until those are fixed.

2. We need an extra staging gate prio

[2020-09-12 01:53] ronaldtse opened #175 "(URGENT) Fix IETF document broken test"
This particular IETF test is causing all the testing and therefore release hooks to break without proper reason. We need to fix the root cause of this.

[code]

[2020-09-12 01:56] ronaldtse commented on #173
Closing this, tests are passing.

[2020-09-12 01:56] #173 closed

[2020-09-12 04:40] ronaldtse commented on #174
Related to:
* https://github.com/metanorma/packed-mn/issues/65
* https://github.com/metanorma/metanorma-docker/issues/92
* https://github.com/metanorma/homebrew-metanorma/issues/59

[2020-09-12 07:12] CAMOBAP commented on #174
To be on the same page let me describe what happens for release 1.3.7.2

#### Preface
 - `metanorma-cli` repo have a special [step](https://github.com/metanorma/metanorma-cli/blob/master/.github/workflows/ubuntu.yml#L57-L72) which sent `dispatch_repository` event to other repositories listed [here](https://github.com/metanorma/metanorma-cli/blob/master/.github/workflows/dependent_repos.env#L2)
 -

[2020-09-12 12:04] Kritner commented on #172
No problem, thanks!

[2020-09-12 12:04] #172 closed

[2020-09-13 12:33] w00lf commented on #174
We can use a set of integration tests for metanorma-cli and run them only when there is a new release being created(with github actions `if` control flow). For network manipulations we can use something like https://github.com/vcr/vcr, I have been using it a lot for international testing with 3-d party api-s, or we can use dependency injection with test adapter. Both options have their caveats, wi

[2020-09-13 14:41] ronaldtse commented on #174
I agree that network requests for specs should be VCR'ed. We can't allow network failures to break specs. This probably means that in rspec we will need to have two separate builds:
1. Normal specs are run using vcr cassettes
2. A "switched" spec that verifies that the vcr cassette is up to date, perhaps running separately every day.

[2020-09-14 12:29] #175 closed

[2020-09-14 13:20] andrew2net commented on #174
@ronaldtse the VCR has a setting which allows us to define a rerecording interval. Once the interval is expired VCR vill refresh all the cassettes.

[2020-09-14 20:19] CAMOBAP opened #177 "Update spec.files of gemspec to not depend on `git ls-files`, include files explicitly"
Because of https://github.com/metanorma/metanorma-cli/commit/d554c9322de33ac75324470fcf9add5cf3c6fe1b

https://github.com/metanorma/homebrew-metanorma becomes broken because it downloads sources as an archive without `.git` subdirectory as result `git ls-files -z` produces empty string

Maybe you can explain what kind of limits you tried to avoid? Maybe we still have an option to build `spec.files

[2020-09-15 01:02] opoudjis commented on #177
It was copy paste from past gemspecs. I think way back the gem included random scattered files outside of lib and spec, but pretty sure you can ignore that now.

[2020-09-15 01:10] ronaldtse commented on #177
@opoudjis I think we should not use `git ls-files` for `spec.files`. This issue is still present now:

https://github.com/metanorma/metanorma-cli/blob/fded7a1c8a00cda2cb7e0fa6077b13101b3e2a79/metanorma-cli.gemspec#L22-L24

[2020-09-15 01:13] ronaldtse commented on #177
@CAMOBAP I talked with @opoudjis and he understands the issue. Can you help update the `gemspec` so it doesn't depend on git, but includes only files that should be included? Thanks! Reopening.

[2020-09-15 04:43] CAMOBAP commented on #177
The first approach from https://stackoverflow.com/questions/11873294/determining-the-gems-list-of-files-for-the-specification looks nice to me

[2020-09-15 04:58] ronaldtse commented on #177
@CAMOBAP agree, can you proceed? Thanks!

[2020-09-17 02:06] opoudjis commented on #174
[code]

You mean expire every week, right? Every day is going to end up being the same problem this is supposed to fix.

[2020-09-17 11:07] opoudjis commented on #174
Have put  7 day expiration in all metanorma gems using VCR; thank you, @andrew2net!

[2020-09-27 06:28] CAMOBAP commented on #177
Merged

[2020-09-27 06:28] #177 closed

[2020-10-08 03:25] ronaldtse commented on #130
I believe @abunashir will look at this.

[2020-10-11 08:28] opoudjis commented on #174
I really don't want to work with prerelease gems locally if they will make life difficult for me to do local testing (and they do), and would suggest I hardcode minimum gem versions in metanorma-cli instead, and we only have metanorma-cli be preprelease

[2020-10-13 19:15] alexeymorozov commented on #164
Hi @opoudjis. May I ask to help me reproduce the issue with HanSans?

Where is the font placed in the system, and what its name?

[code]

[2020-10-14 08:53] abunashir commented on #130
@ronaldtse: Let me try to clarify if I got this right, so we are basically trying to mimic the behavior of these sort of [Makefile](https://github.com/metanorma/mn-samples-itu/blob/master/Makefile) and ship it as metanorma cli command, so user can use this to generate their mini-site. This new interface will also be able to read the `metanorma.yml` file for more precise site generation instruction

[2020-10-15 17:31] ronaldtse opened #179 "`metanorma compile` should work with multiple files"
This should work in Unix conventions:
[code]

Without resorting to:
[code]

[2020-10-15 17:44] ronaldtse commented on #130
@abunashir yes you're right. Our Makefile currently does specific things and we don't want to keep the Makefile anymore. Thanks!

[2020-10-17 09:10] abunashir commented on #130
Cool, I'm on it 👍

[2020-10-27 03:44] opoudjis commented on #164
[code]

[2020-11-02 08:00] ronaldtse commented on #130
Following up on @abunashir 's question.

The steps for building a document collection from a set of documents:

1. Find all the metanorma .adoc files. There are 2 ways to find adoc files. Either they are under `source/*.adoc`, or they are listed individually in `metanorma.yml`, e.g. see this:
https://github.com/metanorma/mn-samples-iso/blob/3cac2d2ac9bd4e35ca28c8769b10f5e799145f52/metanorma.yml#L2

[2020-11-17 04:44] ronaldtse opened #188 "Use Fontist Manifest format to install fonts"
https://github.com/metanorma/metanorma-cli/blob/ca5352a1d51a025ff8281c36e55a8bb12b2d9d94/lib/metanorma/cli/command.rb#L101-L118

Related to this: https://github.com/metanorma/metanorma-standoc/issues/375

[2020-11-17 19:36] Kritner opened #189 "action template or metanorma container change within previous ~12 days?"
I'm not sure if something has changed between either the GH action template we're using or the metanorma docker image, but at least within the past 12 days we're having a document fail build w/o any "code" changes to the underlying adoc information.

As an example, search "bundle exec metanorma compile draft-celi-acvp-symmetric.adoc" within "Build document in the metanorma container" step from her

[2020-11-17 22:00] celic commented on #189
Our GitHub Actions are pulled pretty directly from https://github.com/metanorma/mn-samples-itu/blob/master/.github/workflows/docker.yml.

When I build locally on `metanorma-cli-1.2.13.2` the document compiles. It appears that the docker container is using `metanorma-cli-1.3.8.1`. I tried `metanorma-cli-1.3.8.1` locally and compiled as well.

[2020-11-18 00:15] ronaldtse commented on #189
This may be an issue with the docker container; let me get back to you on this. Thanks for the report!

[2020-11-18 16:30] abunashir commented on #130
@ronaldtse: I've added the site generation interface in PR #180, this should allow us to generate a mini-site for any source directory. I did some basic testing with sample data and it seems to be working apart from some compilation error logs.

cc: @ronaldtse

[2020-11-30 12:35] ronaldtse commented on #158
Closing for now. Thanks!

[2020-11-30 12:35] #158 closed

[2020-12-01 11:48] CAMOBAP commented on #189
I see that `Cannot continue processing` appears in the failed run, so this is definitely not related to docker

_Investigation in progress..._

[2020-12-01 17:53] ronaldtse commented on #189
@CAMOBAP just wanted to confirm that the metanorma-docker containers are runnable. I'm not sure if we're running into GHA issues.

[2020-12-01 20:24] CAMOBAP commented on #189
@ronaldtse @Kritner As far as I see those warnings:
[code]
Are critical

More details in *.err files

@opoudjis maybe you know, do we have some option for 'relax' validation?

[2020-12-02 14:07] ronaldtse commented on #189
@CAMOBAP can you help make a PR to metanorma/ACVP that fixes those issues? Thanks!

[2020-12-02 14:09] CAMOBAP commented on #189
@ronaldtse to be on the same page I don't know how to fix it yet, but I can dig into it, no problem

[2020-12-06 22:07] CAMOBAP commented on #189
Well... I have found so far that issue inside `asciidoctor` gem, it just 'drops' some elements (sections, lists), and if I downgrade `asciidoctor` to 2.0.10

[code]

So as a short-term solution I propose to fixate this version in Gemfile. As a long-term solution, I will continue digging in `asciidoctor` gem.

[2020-12-07 08:19] CAMOBAP commented on #189
Update.

I didn't figure out what exactly but the new version of asciidoctor just drop some nodes from output, example for https://github.com/usnistgov/ACVP/blob/master/src/draft-fussell-acvp-ecdsa.adoc it generates those XMLs:
 - [draft-fussell-acvp-ecdsa.asciidoctor-2.0.10.xml](https://github.com/metanorma/metanorma-cli/files/5651342/draft-fussell-acvp-ecdsa.asciidoctor-2.0.10.xml.txt)
 - [draft

[2020-12-07 08:22] ronaldtse commented on #189
Thanks @CAMOBAP , @opoudjis will investigate as part of metanorma/metanorma-standoc#389.

[2020-12-07 10:41] opoudjis commented on #189
One issue is indeed a newly introduced bug in Asciidoctor, as of 2.0.11, impacting lists at the end of included documents; we will freeze Asciidoctor at 2.0.10 until it is addressed. I will issue a new release of Metanorma tomorrow.

The second, which is longstanding, is that these documents contain "Terms and Definitions" sections which do not align with the expected structure of Terms and Defini

[2020-12-07 10:50] opoudjis commented on #189
@Kritner see https://github.com/metanorma/ACVP/commit/95dc5b01bdbd18d009726c12c1d98621e34e144a . You need to incorporate that one-line fix in the ACVP repository.

[2020-12-07 13:28] Kritner commented on #189
https://github.com/metanorma/metanorma-cli/issues/189#issuecomment-739839069

I tried that in [this PR](https://github.com/usnistgov/ACVP/pull/1088).  This is the resulting (failing) build (though i'm guessing is unrelated to the change from the PR): https://github.com/usnistgov/ACVP/pull/1088/checks?check_run_id=1510919667

[2020-12-07 14:06] ronaldtse commented on #189
@Kritner temporary fix sent to Kritner/ACVP#2 . @opoudjis is planning a new release tomorrow that deals with this in a more comprehensive way.

[2020-12-07 15:34] Kritner commented on #189
@ronaldtse that did in fact fix the build from the GH action, but it seems like the underlying reason for opening the issue still persists.

If you look at the produced artifacts of the build you linked https://github.com/Kritner/ACVP/pull/2/checks?check_run_id=1511121606 you'll see that several of the documents are not there, including the draft-celi-acvp-symmetric.adoc. I'll use that document as

[2020-12-07 16:32] ronaldtse commented on #189
@Kritner the issue with `testtypes` is not a syntax problem -- it is a regression in the parser version, which when a section ends with a list, the next section gets appended directly to the list -- effectively wiping out that next section entirely (and the anchor). This issue will be fixed in tomorrow's release where we lock to a particular version of the parser.

The GHA artifacts does not seem

[2020-12-08 12:34] ronaldtse commented on #189
@Kritner we've discovered the problem -- the behavior of the Asciidoctor parser has officially changed to strip empty lines in the `include`d files, which means that any usage of `include` as a new section will require being wrapped with empty blank lines. We will be addressing this issue in a blog post.

In any case, I've updated the PR to address this issue.

[2020-12-08 13:29] Kritner commented on #189
OK, and just to be clear you're talking specifically about changes such as this to our "root documents":

![image](https://user-images.githubusercontent.com/8814983/101489119-7dfddc80-392e-11eb-94e2-d38058775d51.png)

If I'm understanding if there were blank lines within the "included" files themselves (at the end of the files), they would be stripped out by asciidoctor, but having the blank lines

[2020-12-08 14:39] ronaldtse commented on #189
Yes that's correct.

Previously asciidoctor does not "strip" blank lines at the top or bottom of the included file. But now it strips all.

Correct. Blank lines need to separate the `include`s otherwise they will be considered as the same section.

I think this is mostly a "build process" issue -- whether warnings such as missing anchors should cause failure. Perhaps we need to have an option of `

[2020-12-08 15:34] Kritner commented on #189
Perhaps my current workflow context is important.

* Work on document `x` locally from a clone of a fork of our main repository
* Finish work on document `x`
* Build document `x` locally
* Ensure document meets expectations
* Commit changes to document `x` and push up to fork of main repository
* PR fork to main
* Wait for successful build to merge PR (at a minimum, we may wait on the timing of ot

[2020-12-12 06:37] #130 closed

[2020-12-12 06:45] ronaldtse opened #192 "Collection/site generation: update docs, support wildcards and directories"
In mn-samples-itu I had to do this:

[code]

[code]

But, technically I could just do this if the command supported :

[code]

Can we implement something to this effect?

_Originally posted by @ronaldtse in https://github.com/metanorma/metanorma-cli/issues/180#issuecomment-743712390_

[2020-12-12 17:01] abunashir commented on #192
@ronaldtse: I just updated the file selection list in the attached PR, so now it should support wildcard selection for files.

Regarding the documentation, I have added the following doc the readme with a link to the configuration file where I tried to describe every node in detail. Is that enough, or would you prefer something else?

<img width="1092" alt="Screen Shot 2020-12-12 at 5 58 32 PM" sr

[2020-12-13 01:16] ronaldtse commented on #192
@abunashir this is good, but could you also explain the format of the configuration file in detail per key?

In addition, there are these things that can be changed in the config format:
* Perhaps we should not use "relaton" as a key because people can get confused
* The "top right corner" right now mentions Metanorma and its version. Some people will not want to see that because it's supposed to

[2020-12-13 12:11] ronaldtse opened #194 "A more resilient build chain for document collections"
This issue is to decide/develop a more resilient build child for people who work on document collections. I think this ties into Metanorma collection work @abunashir is working on (metanorma/metanorma-cli#180) and we could fix things from there.

From @kritner below. This flow is also one that I know some others (and I) work with, so it is indicative of how people build collections.

_Originally p

[2020-12-16 15:55] abunashir commented on #192
@ronaldtse: Cool, regarding the site manifest file, I will create a new docs file with all the details.

Regarding the `relaton` node in the file, I also feel the same, I would probably move the `collection` node as a nested one under the main `metanorma` node, but let me know if you have any other suggestions then I can work on it.

This is coming from the relaton [HTML template](https://github.c

[2020-12-16 17:07] abunashir commented on #79
@ronaldtse: This should be resolved the `metanorma site generate` right?

[2020-12-16 18:30] ronaldtse commented on #79
@abunashir yes I believe so. Could you help make a PR that replaces the Makefile and update the GHA there? Thanks!

[2020-12-17 18:07] ronaldtse opened #196 "Site generation - `include` paths not working"
This happens in https://github.com/CalConnect/iso-8601-1-amd1/pull/4

Normal CLI generation (`metanorma sources/iso-8601-1-amd1.adoc`):
<img width="443" alt="Screen Shot 2020-12-18 at 2 00 41 AM" src="https://user-images.githubusercontent.com/11865/102525141-d6726e00-40d4-11eb-8d75-f40c213cc05c.png">

Via `metanorma site generate sources -c sources/collection.yml` command:
<img width="479" alt="im

[2020-12-18 14:01] #196 closed

[2020-12-19 16:03] ronaldtse commented on #194
We have just merged #180 which will aid this issue and gives us the possibility to propagate the error codes from individual document compilation.

As @Kritner mentioned, the problem is at this step:

Now with the `metanorma site generation` command in place, it is possible to define different behavior:
* `--strict`: once a failure occurs, bail out
* `--continue-on-error`: don't bail out on error,

[2020-12-21 04:33] ronaldtse opened #198 "Metanorma `package` or `release` commands"
In the real world Metanorma documents are often 'published' or 'packaged' for submission or for archival for certain stage.

For example, the [ISO 8601-1 Amendment document](https://github.com/CalConnect/iso-8601-1-amd1) needed to be submitted to ISO/CS for DAmd stage ballot.

What I did was to make a git release tag (e.g. by date and stage `20201208-damd`). In the release package, I zipped up the

[2020-12-21 14:01] abunashir commented on #192
@ronaldtse: I've added the blog post here - https://github.com/metanorma/metanorma.com/pull/375 with the explanation for the configuration file. That should resolve this, but I think we still have to rearrange the collection details in a separate issue.

[2020-12-22 10:44] opoudjis commented on #192
Btw, i've said it in my comments to Abu Nashir's PR, but I need to say it to you too @ronaldtse, because I've seen you do it in a ticket.

Do not use "collection" to refer to a site. A collection already has a meaning in Metanorma: it is a document composed of other documents, as a single XML artefact, which we are using for BIPM and ISO 10303. Sites that consist of independent documents published

[2020-12-26 15:41] abunashir commented on #79
We can close this one, once this is - https://github.com/metanorma/metanorma-build-scripts/pull/55 merged!

[2020-12-27 03:50] ronaldtse commented on #79
Closed, thanks!

[2020-12-27 03:50] #79 closed

[2020-12-30 16:31] abunashir opened #202 "Metanorma CLI installation issue"
Hey Guys, I'm trying to install the cli locally but there there seems to be some issue regarding `rice` gem both in the master and also the latest ruby gem version. I don't see any recent update in ruby gems, Is any of the underlying dependencies has changed or is it only my machine?

Current master:

<img width="1187" alt="Screen Shot 2020-12-30 at 5 30 03 PM" src="https://user-images.githubuserc

[2021-01-01 16:28] abunashir commented on #202
Seems like CI is also reporting the similar issues - https://github.com/metanorma/metanorma-cli/pull/203/checks?check_run_id=1634040683

[2021-01-03 11:35] ronaldtse opened #204 "Support `metanorma *.adoc` command"
When compiling multiple documents it is common to use something like:

[code]

Typically this allows shell expansion to this:

[code]

Right now we don't accept this syntax. This ticket is to implement this.

[2021-01-03 12:43] ronaldtse commented on #204
I'm using this as my workaround:
[code]

[2021-01-04 15:32] ronaldtse opened #205 "CLI should allow building collection"
In the CLI implementation today we cannot build a metanorma collection.

This is how we do it now:
[code]

The second line builds a metanorma collection using the config file `si-brochure-bilingual.yml`.

I believe we can integrate this command into the configuration file for `site generate`. We might even want to clarify the roles of the commands: `compile`, `collection` and `site` so they have d

[2021-01-05 10:53] ronaldtse commented on #202
This issue is related to this: https://github.com/lutaml/expressir/issues/42

The expressir gem now requires compilation, which depends on `brew install automake`. @CAMOBAP is working to get rid of this issue with precompiled gems.

[2021-01-11 08:17] ronaldtse opened #208 "CLI `site generate` should have 'current-directory' optional"
I'm often using `metanorma site generate . -c config-file.yml` but the `.` is technically unnecessary.

We should just set it to CWD and have it optional.

Thoughts @abunashir ?

[2021-01-11 08:42] ronaldtse commented on #202
This issue is temporarily gone as I commented out support for lutaml-express (lutaml/lutaml#11). Closing.

[2021-01-11 08:42] #202 closed

[2021-01-11 10:03] #59 closed

[2021-01-12 19:36] ronaldtse opened #209 "Use `metanorma > collection > organization` instead of `metanorma > relaton > organization`"
Right now site generate takes this config:

[code]

But should be this instead:

[code]

[2021-01-12 19:37] #209 closed

[2021-01-16 06:28] ronaldtse opened #211 "metanorma site generate needs to have --agree-to-terms, etc."
`metanorma compile --agree-to-terms --continue-without-fonts ADOC_FILE`

These command line options should be also available in `metanorma site generate` -- we will want to install the fonts too during site generation, which also includes compilation.

I imagine we have two ways of doing so:
1. type `metanorma config --global --set font.agree_all_licenses true` and store this in `~/.metanorma/conf

[2021-01-16 06:37] ronaldtse commented on #211
This is holding up these tasks:
* https://github.com/CalConnect/iso-8601-1-amd1/pull/5
* https://github.com/metanorma/ACVP/pull/2
* https://github.com/metanorma/mn-samples-itu/runs/1694916301?check_suite_focus=true
*

[2021-01-17 03:27] ronaldtse opened #213 "URGENT: Do not require fontist installs in running CLI specs"
From @abunashir about #212

Font installation can be skipped with the --continue-without-fonts CLI argument, but i don't know if there is a documented mechanism to skip it via Ruby calls...

@abunashir can you help describe how the correct behavior should be?

Ping @CAMOBAP

[2021-01-17 03:44] ronaldtse opened #214 "`metanorma site generate` should return non-zero status code on error"
Currently the `metanorma` command exits with a status code `0` on error. This is incorrect.

There is a Thor warning about this as well. An error definitely should return a non-zero code.

[code]

[2021-01-18 17:17] abunashir commented on #213
### Issues:

With the current metanora and fontist setup I can see the following issues:

* Metanorma compilation / file generation fails for missing fonts
* No staright forward way to configure this agreement from CI and tests suite.

### Expected behaviour:

Ideally, a missing a font shouldn't fail the complete file generation, maybe the output wouldn't look as pretty as it was intended but I'm

[2021-01-18 17:19] #72 closed

[2021-01-18 17:23] CAMOBAP commented on #213
@abunashir thanks for the feedback. I'm working on PR for this ticker

Let me check this logic, but AFAIK we cannot accept font licenses by default, we must leave it for the end-users.

From the point of view of specs, we need to pass `--continue-without-fonts`, unfortunately, I don't see a better option

Yep, this is exactly what I'm working on

[2021-01-18 19:47] ronaldtse opened #215 "URGENT: Site generation not working on OGC flavor?"
https://github.com/metanorma/sample-ogc-discussion-paper

[code]

[code]

But site/index.html has no document:

<img width="634" alt="image" src="https://user-images.githubusercontent.com/11865/104957406-121c9280-5a09-11eb-95c7-3e19f9125055.png">

[2021-01-20 11:56] ronaldtse opened #217 "Fontist error"
From @gbuehler:

[2021-01-20 11:59] ronaldtse commented on #217
Follow-up from @gbuehler:

Output:
[code]

Obviously, that did not work.

[code]

Here is the output from running command:
[code]

[2021-01-20 12:17] CAMOBAP commented on #217
As workaround:

Because we have defined `ENV DEBIAN_FRONTEND=noninteractive` https://github.com/metanorma/metanorma-docker/blob/master/Dockerfile.ubuntu.in#L8

It makes sense to try with `--agree-to-terms` i.e.

`docker run -v "$(pwd)":/metanorma metanorma/mn  metanorma compile -t ogc -x xml,html,doc,pdf --agree-to-terms document.adoc`

cc @ronaldtse @gbuehler

[2021-01-20 14:16] ronaldtse commented on #217
Maybe there are two problems here:

1. `fontist status arial` can't find the font on @gbuhler's Mac, causing Metanorma to re-download the font. However, the `fontist install arial` command says that the font is already installed, hence Metanorma is unable to use Arial.

2. Docker runs fail because of the missing `--agree-to-terms`. This should be solved via metanorma/metanorma-cli#216.

[2021-01-20 14:18] CAMOBAP commented on #217
@ronaldtse `--agree-to-terms` already available for `compile` command. #216 PR about the possibility to declare arguments in the config file, so #216 doesn't block this issue

[2021-01-20 14:39] ronaldtse commented on #217
@gbuhler : @CAMOBAP confirms that the above command (https://github.com/metanorma/metanorma-cli/issues/217#issuecomment-763566201) works, can you have a try? Thanks!

[2021-01-20 14:41] CAMOBAP commented on #217
@gbuhler in case of any issues please try a fresh version of `metanorma/mn` image first

[2021-01-20 16:02] gbuehler commented on #217
@ronaldtse @CAMOBAP  That works fine with my setup.

[2021-01-20 16:44] abunashir commented on #215
Hey @ronaldtse, I've been looking into this, but for some reason relaton can't find any `bibitem/bibdata/rfc` node in any of the generated files to [build the collection](https://github.com/relaton/relaton-cli/blob/cb75ebb3d4f33e69f2d214589efa7818aabda44f/lib/relaton/cli/relaton_file.rb#L139), Could it be anything related to these document, or anything else you can think of?

[2021-01-20 16:46] ronaldtse commented on #215
Looks like there is something wrong with the document generation. Adding issue to metanorma-ogc.

[2021-01-20 16:49] ronaldtse commented on #215
But I'm seeing that the XML does contain `bibdata`:

[code]

[2021-01-20 16:55] ronaldtse commented on #215
Also, Nokogiri seems to be able to read it:

[code]

[2021-01-20 17:34] abunashir commented on #215
I hope this should fix the issue - https://github.com/metanorma/sample-ogc-discussion-paper/pull/1, but I'm surprised that we explicitly had to specify the `rxl` for this flavour where others were working fine without even it.

[2021-01-21 09:38] abunashir commented on #215
@ronaldtse: Can we close this one?

[2021-01-21 10:16] ronaldtse commented on #217
Thanks @gbuehler!

[2021-01-21 10:16] ronaldtse commented on #217
In any case fontist/fontist#209 still persists.

We also need to update documentation to reflect the latest command update. @CAMOBAP can you make the update for metanorma.com? Thanks.

[2021-01-21 10:44] ronaldtse commented on #215
Yes, thanks!

[2021-01-21 10:44] #215 closed

[2021-01-21 13:48] CAMOBAP opened #218 "Replace hyphens here with "_" in the symbol in options but keep arguments with hyphens"
Reported: https://github.com/metanorma/metanorma-cli/pull/216#discussion_r561752560

Actually, `thor` already supports this:
 - https://github.com/erikhuda/thor/blob/34df888d721ecaa8cf0cea97d51dc6c388002742/lib/thor/parser/options.rb#L188
 - https://github.com/erikhuda/thor/issues/48

[2021-01-22 06:29] ronaldtse commented on #218
Thanks @CAMOBAP !

[2021-01-22 14:28] CAMOBAP commented on #217
I have looked at https://github.com/metanorma/metanorma-cli/issues/217#issuecomment-763555922 again and the behavior of metanorma-cli side looks correct.

On it

[2021-01-23 10:14] CAMOBAP commented on #188
Already done

[2021-01-23 10:14] #188 closed

[2021-01-23 12:32] CAMOBAP commented on #213
https://github.com/metanorma/metanorma-cli/pull/216 - ready for review

[2021-01-24 12:39] CAMOBAP commented on #213
It's merged now. On those repos which used metanorma-cli to test: we can add extra step

[code]

If there is some failing repos please let me know.

@abunashir @ronaldtse anything else supposed to be done in the scope of this task?

[2021-01-24 13:35] ronaldtse commented on #213
@CAMOBAP We shouldn't depend on `yq` anymore. Can we use `metanorma config set cli.no_install_fonts true`?

Also, we should be using the image directly instead of running docker inside GHA...?

[2021-01-24 13:38] CAMOBAP commented on #213
@ronaldtse you are right!, (OMG how can I forget about the feature which I just implemented 2 days ago??) 🤦

For sure you can simply use `metanorma config set --global cli.no_install_fonts true

[2021-01-24 19:33] CAMOBAP commented on #217
documentation is ready for review https://github.com/metanorma/metanorma.com/pull/394

[2021-01-25 01:05] ronaldtse commented on #213
@CAMOBAP 😉 can you help apply this across the repos once @opoudjis successfully releases all gems today? Thanks.

[2021-01-25 06:19] CAMOBAP commented on #213
@ronaldtse to be on the same page this applies only to processor gems (metanorma-*), right?

[2021-01-25 06:59] ronaldtse commented on #213
I believe so. What other gems are affected by fonts?

[2021-01-25 16:26] abunashir commented on #213
Great work @CAMOBAP, I can't think of anything else apart from the one Ron mentioned, or we can also check with @opoudjis just to be double sure :) But feel free to close it once it's confirmed.

[2021-01-25 16:48] abunashir commented on #208
Make sense, I will look into it!

[2021-01-26 00:02] ronaldtse opened #222 "`site generate` command conflates source files if the files have the same name"
In https://github.com/metanorma/mn-samples-jcgm , the metanorma.yml contains:
[code]

The sources are:
<img width="214" alt="Screen Shot 2021-01-26 at 8 01 11 AM" src="https://user-images.githubusercontent.com/11865/105780991-aad48480-5fac-11eb-9677-ae9186e11a46.png">

The resulting site is:
<img width="261" alt="Screen Shot 2021-01-26 at 8 01 26 AM" src="https://user-images.githubusercontent.com/

[2021-01-26 00:02] ronaldtse commented on #218
@CAMOBAP is this fixed and to be closed? Thanks.

[2021-01-26 00:04] ronaldtse commented on #214
@CAMOBAP is this fixed?

[2021-01-26 00:11] #208 closed

[2021-01-26 00:25] ronaldtse commented on #211
@CAMOBAP is this done? Thanks.

[2021-01-26 02:46] opoudjis commented on #205
Agreed. I would further add that the collection YAML (si-brochure-bilingual.yml) and the site YAML (collection.yml) MUST be kept separate: it would be a mistake to bind them tightly. The file name of the collection YAML should be one of the entries in the site YAML.

[2021-01-26 04:59] CAMOBAP commented on #218
Yep, PRs are merged, and tests passed

[2021-01-26 04:59] #218 closed

[2021-01-26 05:02] CAMOBAP commented on #214
Yep, it's fixed:

[code]

[2021-01-26 05:02] #214 closed

[2021-01-26 05:17] CAMOBAP commented on #211
Done, duplicate of https://github.com/metanorma/metanorma-cli/issues/214

[2021-01-26 05:17] #211 closed

[2021-01-26 05:19] CAMOBAP commented on #217
Because documentation is updated and the separate issue is reported to https://github.com/fontist/fontist/issues/209, this one can be closed

[2021-01-26 05:19] #217 closed

[2021-01-26 20:10] Kritner commented on #189
This doesn't seem to fit into the fixes that were done on the "root" document - namely the line breaks in between includes, but we're getting that "silent failure" again on at least our symmetric document again:

https://github.com/usnistgov/ACVP/runs/1597219733?check_suite_focus=true

glancing through it says a lot of sections are missing, but I've checked a few and confirmed they should be there

[2021-01-27 13:29] CAMOBAP commented on #213
While checking processors I have found failure for the repos:
 - https://github.com/metanorma/metanorma-iho/actions/runs/508733444 (macos)
 - https://github.com/metanorma/metanorma-un/runs/1776830046 (ubuntu & macos)
 - https://github.com/metanorma/metanorma-iec/runs/1760175273 (macos)
 - https://github.com/metanorma/metanorma-nist/runs/1760083155 (macos partially)
 - https://github.com/metanorma/

[2021-01-29 14:45] #204 closed

[2021-01-29 16:25] abunashir commented on #222
Hey @ronaldtse, I was trying to investigate this issue - this is more related to how Metanorma itself handles output filename internally, and given that we are specifying output path to `site`, so each file with same name overwrite the existing one and that's why we only see the output with last compiled file.

### Possible solutions:

There are couple of ways we can try to solve this issue, let m

[2021-01-30 04:55] ronaldtse commented on #189
@Kritner sorry I didn’t see this message until now. Will check.

[2021-01-30 13:17] Kritner commented on #189
I think Chris ended up fixing the issue, I don't recall what it was off
hand.

Still though, would greatly appreciate some means of failing the entire
build if any one document fails to build

On Fri, Jan 29, 2021, 11:55 PM Ronald Tse <notifications@github.com> wrote:

[2021-01-30 13:41] CAMOBAP commented on #213
Done

[2021-01-30 13:41] #213 closed

[2021-01-31 00:45] ronaldtse commented on #222
There is another option 4, which we did use before in the Makefile. That is to treat “files” as a key value pair - source file path => target file path.

My preference is 3 and 4.

If we are given an array of files, we should just reproduce the file paths faithfully. The list of created files can be passed to relaton , and relaton should create the index accordingly.

If we are given a map of sour

[2021-02-19 14:10] abunashir commented on #222
@ronaldtse: I'm trying to figure out if [Metanorma::Compile](https://github.com/metanorma/metanorma/blob/master/lib/metanorma/compile.rb#L18) interface allows output filename as input parameter or not, but I don't see any. How did we manage to pass that in the old makefile? 🤔

[2021-02-19 14:14] ronaldtse commented on #222
Yes.

We did not have to pass that, because in the old Makefile, the "output-path.xml" comes from "input-path.adoc", so that "a/b/c.adoc" => "a/b/c.xml", and the whole path is moved into the published directory, i.e. "documents/a/b/c.xml".

[2021-02-19 14:21] abunashir commented on #222
@ronaldtse: I see, so do you prefer to keep that behaviour or use the one suggested as approach 4?

[2021-02-19 15:57] abunashir commented on #222
Hey @ronaldtse: I've added the support for nested directory in the attached PR, I hope this should fixe the issue for now.

[2021-02-21 04:00] #222 closed

[2021-02-21 07:15] ronaldtse commented on #222
Thanks @abunashir !

[2021-02-23 13:37] abunashir commented on #192
Closing, as most of these are already done!

[2021-02-23 13:37] #192 closed

[2021-03-01 14:31] ronaldtse commented on #81
Here what happens when I require `metanorma-cli`. It took over a minute to start.

[code]

[2021-03-01 14:48] ronaldtse commented on #81
The 'unresolved_deps' occur when a gemspec contains this dependency, but has not been "require"d in Ruby (e.g. `require 'ox'` will resolve the "ox" entry here).

[2021-03-04 17:52] Intelligent2013 opened #226 "Installation issue on Debian"
Error occured a few days ago on Debian only (on Ubuntu, MacOS and Windows - ok).

Original here: https://github.com/metanorma/mn-native-pdf/runs/2033320962

[code]

[2021-03-04 18:05] ronaldtse commented on #226
On Ubuntu did you have the package `libmspack-dev` installed? https://howtoinstall.co/en/libmspack-dev

[2021-03-04 18:32] Intelligent2013 commented on #226
No.
https://github.com/metanorma/mn-native-pdf/blob/master/.github/workflows/ubuntu.yml:
[code]

[2021-03-04 18:33] Intelligent2013 commented on #226
4 days ago everything was ok: https://github.com/metanorma/mn-native-pdf/runs/1999138856

[2021-03-08 06:15] opoudjis commented on #226
This is a duplicate issue: https://github.com/metanorma/metanorma-iso/issues/479

[2021-03-08 06:16] #226 closed

[2021-03-11 16:50] ronaldtse commented on #205
Here's the relevant PR https://github.com/metanorma/bipm-si-brochure/pull/86 that we want to make working.

[2021-03-11 16:51] CAMOBAP commented on #189
@ronaldtse @Kritner is this issue still actual?

[2021-03-11 16:53] CAMOBAP commented on #149
Triggering by itself works, but we have some issues on workflows on templates/samples side, I will  investigate it in the scope of this task

[2021-03-11 17:00] CAMOBAP opened #227 "Add --no-progress option to pass it to fontist"
- https://github.com/fontist/fontist/pull/227

[2021-03-12 05:42] ronaldtse opened #228 "Support parallel processing in site/collection generation"
When building a site you often want to compile multiple documents together since Metanorma is not parallelised.

This issue is to add a build queue that serves multiple concurrent processors so that a site can be built in minimal time. By default it should use 2 cores and allows more, e.g. `metanorma config set build.parallel 4` for 4 processes.

[2021-03-12 05:44] ronaldtse commented on #189
@Kritner We have added the `metanorma site generate -c metanorma.yml` (or just `metanorma site generate` if the config file name is metanorma.yml`) command to generate a full set of documents.

A single document failure will fail the site generation process. I hope this satisfies the need?

The challenge is that building of these documents work differently from Make -- the command re-generates *al

[2021-03-12 05:46] ronaldtse commented on #189
The `metanorma site` command is described in this blog post:
https://www.metanorma.org/blog/12-19-2020/generate-mini-site-with-metanorma-cli/

[2021-03-15 15:41] abunashir opened #231 "Installation issue with expressir, rice"
Hey there, I was trying to install the cli, and noticed we are having a similar issue that was there couple of months back (build failing for expressir/rice). I can manually try to fix that for now, but I wonder if that occurs on actual user's devices and if we need to suggest anything for fix here?

<img width="1129" alt="Screenshot 2021-03-15 at 16 36 32" src="https://user-images.githubuserconte

[2021-03-15 15:44] abunashir commented on #231
I believe fhe first occurrence of this was around here - https://github.com/metanorma/metanorma-cli/runs/2030136038

[2021-03-15 15:47] CAMOBAP commented on #231
Let me check, we 100% have published https://rubygems.org/gems/expressir/versions/0.2.21-x86_64-darwin platform gem for macos for both arm64 and x86_64

@abunashir what is your is version/arch, could you please print `gem env`

[2021-03-15 15:55] CAMOBAP commented on #231
Also will `gem install expressive --platform x86_64-darwin` install prebuilt gem? Or it still fall into the same issue?

[2021-03-15 16:01] abunashir commented on #231
I can install `expressive` but the Metanorma-cli is still seems to be failing

[2021-03-15 16:31] abunashir commented on #231
FYI - The latest build in the CI seems to be working fine though.

[2021-03-15 16:48] CAMOBAP commented on #231
Sorry for the confusion, I wrongly thought that you are on macos

I faced this issue previously on macOS and some docker container, but it wasn't critical for me.

Looks like it's time to investigating it. @abunashir could you please send verbose log from `gem install` or `bundle install`  there must be some statement about why it's going to be compiled from scratch

[2021-03-15 17:04] abunashir commented on #231
I manually fixed it by installing the `automake` for now, but I can send you the logs if I see the same issue again.

[2021-03-15 17:09] CAMOBAP commented on #231
@abunashir if it will be ok for you, could you please temporary remove `autotools` and `expressir`, `rice` gems, and try to install them again to generate verbose logs?

[2021-03-16 07:47] ronaldtse commented on #231
I'm sure this is addressed but for the record, the gem in question is `expressir` not `expressive` 😉

Aren't the linux binary gems already available? Why would installation require compilation?

<img width="291" alt="Screenshot 2021-03-16 at 3 46 51 PM" src="https://user-images.githubusercontent.com/11865/111273485-d6035800-866e-11eb-84d9-71f5cf94463c.png">

[2021-03-16 09:59] abunashir commented on #231
This is little bit wired, I just created another ubuntu VM with the same image I normally use, and looks like if I run `gem install metanorma-cli` then it seems to be working without any issue.

But if I run the `bin/setup` script on the Metanorma-CLI project then it's fails [with this output](https://gist.github.com/abunashir/dfa6a2c60d74ba557580d089e44de2c5). The image is using this [bootstrap.s

[2021-03-16 10:20] CAMOBAP commented on #231
@abunashir thanks a lot for steps , this is more than enough to start

[2021-03-16 10:33] ronaldtse commented on #231
I saw this message in the output:

[code]

This is because of the `rice` gem due to `expressir`?

[2021-03-16 10:36] CAMOBAP commented on #231
@ronaldtse `expressir` depends on `rice` gem. But we remove this dependency for gem with prebuilt exetnsion:
 - https://rubygems.org/gems/expressir/versions/0.2.21-x86_64-linux - have no `rice` dependency
 - https://rubygems.org/gems/expressir/versions/0.2.21 - have `rice` dependency

[2021-03-16 12:34] opoudjis opened #232 "`metanorma site` dependencies"
It would be nice if metanorma site was a little more like Make, in (a) having a "clean" option, and (b) not building files that had already been built --- so that execution can resume after a site generation has been aborted, rather than restarting from the beginning.

[2021-03-16 17:33] ronaldtse commented on #232
This falls into Rake functionality, which metanorma-cli can directly `require`. Basically we can create Rake `File` rules using the defined paths in metanorma.yml.

[2021-03-16 17:34] ronaldtse commented on #232
The challenge is that stale documents can't be known. We can check the built file against "last modified time" of the source `.adoc` file, but if it uses ```include```s, we can't detect the changes within those included files.

[2021-03-17 08:44] CAMOBAP commented on #227
Feature is ready for review:
 - https://github.com/metanorma/metanorma-cli/pull/233
 - https://github.com/fontist/fontist/pull/228
 - https://github.com/metanorma/metanorma/pull/170

Implementation details:
 - `no_progres` is `true` by default
 - `no_progres` added as `class_option` so it's available in all subcommand, I added it specially to be potentially used in other sub sommand

cc @ronaldtse

[2021-03-19 11:33] CAMOBAP commented on #174
Quick update on this

I think we have some progress on stabilization direction:
 - we have a build matrix in README file in metanorma-release repository https://github.com/metanorma/metanorma-release
 - metanorma-cli now triggers new release only when all testing passed

The bottleneck now is packed-mn (at the current moment https://github.com/metanorma/packed-mn/issues/83).

@ronaldtse @opoudjis

[2021-03-21 09:19] CAMOBAP opened #235 "Ruby 3.0 support"
- https://github.com/metanorma/metanorma-cli/pull/233#issuecomment-802135325 - details

[2021-03-21 11:05] CAMOBAP commented on #227
Done

[2021-03-21 11:05] #227 closed

[2021-04-06 14:06] Intelligent2013 opened #237 "Windows 7 installation issues"
I'm trying to install Metanorma v.1.4.7 on Windows 7 (SP1 64-bit with all latest updates).

1. The command `choco install metanorma -y` tries to install Python 3 3.9.4 and ended with error, because version 3.9.4 can't be installed in Win7, only Win 8 and above. When I installed Python 3 3.8.9 (latest compatible version with Win7) via `choco install python --version=3.8.9`, then metanorma installed

[2021-04-06 15:24] CAMOBAP commented on #237
@Intelligent2013

1.  Looks like a `chocolatey` related issue because `metanorma` depends on `python 3.x`:
    - https://community.chocolatey.org/packages/metanorma#dependencies
    - https://github.com/metanorma/chocolatey-metanorma/blob/master/metanorma.nuspec#L28
2. That's true because we build a native executable with https://github.com/metanorma/ruby-packer/
3. To be able to build native exte

[2021-04-06 16:26] Intelligent2013 commented on #237
It seems ok, because 3.9.4 >= 3.0.1. My question was about can we set upper limit i.e.  3.0.1. <= version <= 3.8.9 ?

Looks like a `chocolatey` tries to install latest version (at this moment) of Python independent of os compatibility.

[code]
![image](https://user-images.githubusercontent.com/5559926/113743879-d42c3200-970c-11eb-8200-47fca409586a.png)

[2021-04-06 16:38] CAMOBAP commented on #237
@Intelligent2013 I have checked output and there are no Windows 7 specific issues in the output, so to me, it looks like an issue with the Python installer file, could you please attach `chocolatey.log` also.

IMHO we should be as less restrictive as possible and don't restrict all user just because of the issue on specific windows version

[2021-04-06 16:58] Intelligent2013 commented on #237
@CAMOBAP  Yes, there is Python installer issue. Python 3.9.4 requires Win 8 or later.
Chocolatey log here: [chocolatey.log](https://github.com/metanorma/metanorma-cli/files/6266335/chocolatey.log)

I've download version 3.9.4 manually from https://www.python.org/ftp/python/3.9.4/python-3.9.4-amd64.exe and run it.
Here is log: [Python 3.9.4 (64-bit)_20210406195324.txt](https://github.com/metanorma/

[2021-04-06 17:02] CAMOBAP commented on #237
@Intelligent2013 good finding! thanks for the information, I will report a ticket to chocolatey

[2021-04-06 17:07] CAMOBAP commented on #237
Oh, [this isn't but this is a feature (](https://docs.chocolatey.org/en-us/create/create-packages#install-only-on-some-versions-of-windows)

📝 NOTE We will ultimately enhance the nuspec and take care of this for you automatically. Until we get there, follow the above avenue.

@Intelligent2013 looks like all questions/issues sorted out, feel free to close it or please mention if I missed something

[2021-04-06 17:17] Intelligent2013 commented on #237
I've installed `msys2`, but the error still exist.  I have to play around with it. What is Ruby version should I install - 2.5, 2.6, 2.7, 3.0....?
Is there any step by step guide how to install all needed software?

[2021-04-06 17:19] Intelligent2013 commented on #237
Ok, let's skip this issue. In any case I've found a solution how to bypass it.

[2021-04-06 17:21] ronaldtse commented on #237
@Intelligent2013 @CAMOBAP can we write down our findings and make a blog post or support post? This will help many users and prevent them from forwarding these issues back to us.

[2021-04-06 17:41] CAMOBAP commented on #237
@ronaldtse @Intelligent2013 we had such post before packed-mn, I will find it

The issue which @Intelligent2013   faced with is ruby related (not metanorma related)

[2021-04-08 18:54] Intelligent2013 commented on #237
I've installed `Ruby+Devkit 2.7.2-1 (x64)` (https://github.com/oneclick/rubyinstaller2/releases/download/RubyInstaller-2.7.2-1/rubyinstaller-devkit-2.7.2-1-x64.exe) and issue has gone.
Closing.

[2021-04-08 18:54] #237 closed

[2021-04-08 20:19] CAMOBAP commented on #237
BTW Pervioulsy when we had gem based chocolatey page, this page was actual https://www.metanorma.org/blog/2018-12-25/metanorma-on-windows-via-chocolatey/

[2021-04-14 00:58] ronaldtse opened #238 "Site generation functionality masks underlying failures"
We have encountered this multiple times but this time in the context of site generation.

Metanorma site generation kicks off the compilation of multiple documents and their multiple outputs.

If a single output fails, the compilation of the document is considered to have failed immediately and should abort.

If a single document fails, the compilation of the collection is considered to have faile

[2021-04-16 14:23] abunashir commented on #238
Yes, I will have a look into this

[2021-04-27 03:18] ronaldtse opened #239 "Disable "relaton detecting backends" messages at normal log levels"
We should have a "log level" functionality where it only displays these informative messages at the "DEBUG" level.

[code]

[2021-04-28 12:40] andrew2net commented on #239
fixed in version 1.7.9

[2021-04-28 12:40] #239 closed

[2021-05-01 05:35] CAMOBAP commented on #149
@ronaldtse I have no write access to:
 - https://github.com/metanorma/mn-templates-un
 - https://github.com/metanorma/mn-templates-m3aawg
Could you please add me to allow configuration update

[2021-05-01 08:07] CAMOBAP commented on #149
Done

[2021-05-01 08:07] #149 closed

[2021-05-01 13:44] abunashir commented on #238
Hey @ronaldtse: I'm trying to understand this: what is the current behaviour? does it continues even if there is some compilation error at the moment and we don't want it? or the other way around?

Can you share some example so I could reproduce this issue?

[2021-05-03 05:48] ronaldtse commented on #149
@CAMOBAP fixed access to those two repos. Thanks!

[2021-05-05 14:21] abunashir commented on #81
From @ronaldtse:

[code]

[2021-05-05 14:24] CAMOBAP commented on #81
@ronaldtse @abunashir should `gem cleanup` help in this case? BTW what is `gem cleanup --dryrun` reports?

[2021-05-05 15:04] abunashir commented on #81
That would definitely help, and I would personally prefer that but @ronaldtse  had some valid point about the user, trying to see if we can somehow fix this without a user having to cleanup their system.

[2021-05-05 15:07] abunashir commented on #81
@ronaldtse: I've created a [PR](https://github.com/metanorma/metanorma-cli/pull/230) that explicitly activates the flavours on load, I'm not super confident that it would fix the issue but that's the best I can think at the moment. On a positive site - it would fix the issue we've seen earlier related to private gem loading issue. Let me know if that helps :)

[2021-05-06 06:25] CAMOBAP opened #240 "Return non-zero exit code if flavon not found"
https://github.com/metanorma/mn-samples-bsi/runs/2515671251?check_suite_focus=true#step:6:6

[code]

cc @ronaldtse

[2021-05-08 09:58] ronaldtse commented on #238
I’m not sure if this problem has been fixed (ping @camobap).

I believe right now site generation skips the failed document without aborting or returning any error. The correct behavior is to abort on error.

[2021-05-08 11:46] CAMOBAP commented on #238
@ronaldtse @abunashir mostly it doesn't relate to the site-gen byitself. but related to this part of the code https://github.com/metanorma/metanorma/blob/master/lib/metanorma/compile.rb#L221-L232 previously it just suppressed all errors (just print and don't re-raise them)

Here is a new PR related to this https://github.com/metanorma/metanorma/pull/186

In this new PR I propose to fail for any ex

[2021-05-21 09:56] ronaldtse opened #242 "Site generation functionality fails on external image includes"
In mn-samples-iso, if you remove the `:data-uri-image:` attribute from one document, you will see a failure like this:

[code]

This is due to the image being external to the file. When resolving any external file, the code should read using a base dir of the original location.

When the `:data-uri-image:` attribute is used, the external image file is embedded into the XML file, so this error does

[2021-05-25 13:39] abunashir commented on #238
@CAMOBAP: should these be closed now?

//cc: @ronaldtse

[2021-05-25 13:41] CAMOBAP commented on #238
@abunashir I think so

[2021-05-25 13:41] #238 closed

[2021-05-25 14:23] abunashir commented on #242
Hey @ronaldtse, I think this might be coming from the underlying [isodoc html function](https://github.com/metanorma/isodoc/blob/master/lib/isodoc/html_function/postprocess.rb#L145), and how that tries to handle images.

I don't have that much context on that library, so I can't exactly figure out what's happening there, maybe @opoudjis might be able to help us out on that one?

[2021-05-25 14:24] abunashir commented on #235
@CAMOBAP: same with this one, I guess you already did the work right? can we close this one too?

[2021-05-25 14:32] CAMOBAP commented on #235
@abunashir right 3.0 passed on CI now

[2021-05-25 14:32] #235 closed

[2021-05-25 16:45] ronaldtse commented on #238
Thanks guys!

[2021-05-25 16:48] ronaldtse commented on #242
The challenge here is when isodoc builds the HTML, it needs to have the XML point out where the images are. e.g. maybe the XML file can store the base image path?

[2021-05-25 16:49] ronaldtse commented on #235
Thanks guys!

[2021-05-25 16:50] ronaldtse commented on #235
@CAMOBAP in this case can we add Ruby 3.0 for all the relevant gems? Thanks!

[2021-05-25 16:51] CAMOBAP commented on #235
@ronaldtse I think we already did this, should we make it as 'required' ? (because right now it is 'experimental ~ allow to fail)

[2021-05-25 16:55] ronaldtse commented on #235
@CAMOBAP Let's change experimental to required for the gems that pass, and we make a list of those that don't pass 3.0, and upgrade those independently. Thanks!

[2021-06-11 12:20] opoudjis commented on #242
It'd be more constructive to have that passed on to isodoc as a parameter from metanorma, rather than embed something that non-semantic in the semantic source.

[2021-06-13 03:09] ronaldtse commented on #242
All you could pass to isodoc is the "base asset path", where isodoc would be expected to resolve the external references. We would need to make that an optional parameter when Metanorma calls the isodoc gem.

[2021-07-05 13:12] opoudjis opened #245 "Workflow for CLI release"
@CAMOBAP has raised the prospect of doing hotfix releases of metanorma-cli, to address hotfixes in packed-mn

I am concerned that this is going to break our current arrangement with external docker instances, such as with NIST. @CAMOBAP reports he was unfamiliar with those instances. Alex is also considering triggering an mn-docker run on GitHub Actions given just a tag update on metanorma-cli, wi

[2021-07-06 01:33] ronaldtse commented on #245
I think we need to draw out the dependency graph and discuss those relationships.

packed-mn and the docker images are at the most downstream. These are the platform-dependent deliverables.

metanorma-cli is at the end of the development chain. This is the platform-independent deliverable.

The principle here on versioning is that once the upstream version is released, downstream deliverables get

[2021-07-07 01:50] ronaldtse commented on #228
In response to @skalee 's comment in https://github.com/metanorma/reverse_adoc/issues/57#issuecomment-827060329 , in site processing we deal with multiple independent documents, so there is no issue with parallel processing as there is no shared state.

[2021-07-07 01:53] ronaldtse commented on #231
Seems that this is done, thanks!

[2021-07-07 01:53] #231 closed

[2021-07-07 01:56] ronaldtse commented on #174
I believe we can close this now? The release process has been improved.

We just need to confirm that the final deliverables are properly triggered on updates and that they can be built/fixed independently:

* metanorma-cli is the final deliverable at the development process
* packed-mn and metanorma-docker containers are the final deliverables for end users
** needs to be triggered on metanorma-c

[2021-07-07 01:58] ronaldtse commented on #232
We can parse the document in Metanorma and retrieve the build dependency tree (which nodes contain all dependent file paths) to a particular end product (the XML file). If there are updates to the file paths (a file path has `mtime` later than the XML), then we re-generate the XML.

[2021-07-07 05:39] CAMOBAP commented on #174
@ronaldtse yep, I can confirm

[2021-07-07 05:39] #174 closed

[2021-07-09 10:28] CAMOBAP opened #246 "Test how metanorma-cli works with SOCKS proxy"
subj

[2021-07-09 11:30] CAMOBAP commented on #246
Closed in favor of https://github.com/metanorma/metanorma/issues/202

[2021-07-09 11:30] #246 closed

[2021-07-17 00:16] ronaldtse opened #248 "Update README: how to use Metanorma with HTTP/HTTPS/SOCKS proxy"
Add documentation to the README on how to use Metanorma with HTTP/HTTPS/SOCKS proxy

_Originally posted by @ronaldtse in https://github.com/metanorma/metanorma-cli/issues/247#issuecomment-881781324_

[2021-07-23 06:28] CAMOBAP commented on #248
Done

[2021-07-23 06:28] #248 closed

[2021-07-23 06:29] CAMOBAP commented on #240
Merged

[2021-07-23 06:29] #240 closed

[2021-07-24 11:46] #189 closed

[2021-07-24 12:00] CAMOBAP commented on #245
@opoudjis @ronaldtse thanks for this discussion

We are gaining some benefits from this:
 - During troubleshooting: chance that end user will report wrong version are minimal
 - Release automation: goes straight forward

Generally I see your point (about version independency between CLI gem and downstream deliverables).
I'm ok to discuss other approaches for versioning

[2021-08-02 10:19] ronaldtse opened #250 "Site generation not respecting document type in index badge"
Somehow the index document entry badge is not respecting the document type. I think this is falling back to "standard" as a default because the document type isn't propagated to the index page.

![image](https://user-images.githubusercontent.com/11865/127845350-8e06658a-4b0d-4f62-83c4-a17c642db8f7.png)

Notice that the document type is `engineering-report`, but it's showing up as "standard" on the

[2021-08-02 10:38] ronaldtse commented on #250
@abunashir would you have time to deal with this one? Thanks!

[2021-08-02 10:44] abunashir commented on #250
Sure, I will have look into it soon :)

[2021-08-06 13:49] abunashir commented on #250
Hey @ronaldtse: I was looking into this, but all we are doing here is to delegate the html generation to relaton cli, and I guess [bibliographic_item.rb](https://github.com/relaton/relaton-bib/blob/master/lib/relaton_bib/bibliographic_item.rb#L36) doing some type verification here, could this be related?

@andrew2net: Do you have any context, why it might fallback to standard here by any chance?

[2021-08-06 14:48] andrew2net commented on #250
@abunashir  there are `type` and `doctype` attributes. The `type` attribute is always "standard". The `doctype` attribute should come from a source.

[2021-08-09 01:47] ronaldtse commented on #250
I've sent @abunashir the source for debugging.

[2021-08-09 15:36] abunashir commented on #250
@andrew2net: I guess I might be missing something here, is this [the template ](https://github.com/relaton/relaton-cli/blob/master/templates/_document.liquid#L20) that's rendering standing label there, how exactly are we setting the `document.type` attribute?

[2021-08-09 16:56] andrew2net commented on #250
@abunashir it should be the `document.doctype` attribute. The `document.type` is always "standard".
For OGC allowed doctypes listed in this [grammar](https://github.com/metanorma/metanorma-model-iso/blob/a8ce635e92486e6fbc6af92d24a78a130c00aebc/grammars/ogc.rnc#L9)
For other flavor relaton-* gems see appropriated grammar [here](https://github.com/metanorma/metanorma-model-iso/tree/master/grammars)

[2021-08-13 08:55] abunashir commented on #250
@ronaldtse: I've updated the relaton-cli, to display the correct `doctype`, once that is merged and released then this issue should be fixed. But fair warning, this will change every other collection that is using this default template, so please let me know if there is anything there.

//cc: @andrew2net, @ronaldtse

[2021-08-16 09:15] ronaldtse commented on #250
Confirm fixed in https://github.com/relaton/relaton-cli/pull/99. Thanks @abunashir !

<img width="870" alt="Screenshot 2021-08-16 at 5 15 15 PM" src="https://user-images.githubusercontent.com/11865/129540390-51d759a8-98c3-41a8-ab7a-416dc3f796a8.png">

[2021-08-16 09:15] #250 closed

[2021-09-13 05:29] ronaldtse opened #251 "Site generation: silent failure in PDF generation error"
When PDF generation fails with a document, normally this is the error message when ran individually.

[code]

The result: the PDF file isn't generated.

However, when in site generation, this error is not shown and the command exits successfully:
[code]

_Originally posted by @ronaldtse in https://github.com/metanorma/ogc-citygml-xmi/issues/101#issuecomment-917846467_

[2021-09-16 13:44] opoudjis commented on #242
`@localdir` is the base asset path. It is set currently in isodoc as the parent directory of the filepath passed to isodoc. We want to override that with an option setting, `:base_asset_path`, so that the base asset path can be dissociated from the location of the file.

[2021-09-16 14:37] opoudjis commented on #242
So, the base asset path is:

`:base-asset-path:` if given as an Asciidoctor document attribute

`isodoc_options[:baseassetpath]` in `IsoDoc::XXX::HtmlConvert.new(isodoc_options)`, if directly calling Isodoc.

[2021-09-16 14:40] opoudjis commented on #242
@abunashir Back to you

[2021-09-25 11:54] abunashir commented on #242
@ronaldtse: Let me clarify if I get that right -  we basically need to add an option for `baseassetpath` to the site generator and if user pass that option then we will need to pass it down to the metnorma compile interface?

cc: @opoudjis

[2021-09-26 08:49] ronaldtse commented on #242
@abunashir not quite but close! Specifically,

1. when the site generator calls Metanorma to create the XML, it needs to pass the extra option of `:base-asset-path:` where it is set to the location of the `adoc` file. This enables Metanorma XML to contain the base asset path of it.

2. when the site generator converts the XML into resulting formats, the Metanorma processor can read `base-asset-pat

[2021-10-02 13:35] abunashir commented on #242
@ronaldtse: [The sitemap generator ](https://github.com/metanorma/metanorma-cli/blob/main/lib/metanorma/cli/site_generator.rb#L81) is passing the source file (adoc) as it is without reading it or doing any changes. Unless we want to add custom behaviour for this options, wouldn't it be better to add this functionality to figure out the default base path from metanorma gem side?

[2021-10-03 03:53] ronaldtse commented on #242
When Metanorma is used on its own for one document, i.e.
[code]

All external paths are performed using the base relative path from `./`.

In site generation, it looks like the source files get first moved into `site/documents/` so the external assets can't be found?

[2021-10-03 17:02] abunashir commented on #242
The xml/html or other issues seems to be fixed but the word file still has the missing image issues - I will do more debugging later to see what exactly is happening there!

[2021-10-08 04:56] ronaldtse opened #254 "Reconsider PlantUML inclusion in default Metanorma package"
Some OGC users utilize PlantUML for diagramming needs.

https://gitlab.ogc.org/ogc/T17-D022-Model-Driven-Standards-ER/-/issues/8

[2021-10-08 05:33] ronaldtse commented on #254
Thanks @CAMOBAP !

[2021-10-08 11:48] opoudjis commented on #242
Should we make dataimageuri default to true if not supplied, and opt out rather than opt in? @ronaldtse

[2021-10-08 12:15] opoudjis commented on #254
It is not, @ronaldtse: you are misdiagnosing the issue. This is an isodoc HTML issue.

[2021-10-08 13:26] ronaldtse commented on #254
So it's the fallback not working?
1. PlantUML code goes into the XML as proper source code
2. Isodoc is not rendering it as source but PDF is?

[2021-10-08 14:10] ronaldtse commented on #254
Here's the PlantUML source:

[code]

I'm not sure whether there was an `@enduml`.

[2021-10-09 13:55] opoudjis opened #255 "baseassetpath in PDF"
Follow-up to https://github.com/metanorma/metanorma-cli/issues/242

Normally, we pass images into the Presentation XML as Data URIs, rather than references to external image files. It is however possible to have a Metanorma XML file with images referenced as files with src attributes.

By default, those files are expected to be in the same directory as the Presentation XML file, so that any local

[2021-10-11 06:37] CAMOBAP commented on #254
- for Linux snap has embedded plantuml https://github.com/metanorma/metanorma-snap/blob/master/snap/snapcraft.yaml#L43-L50
 - https://github.com/metanorma/homebrew-metanorma/commit/67bb8a222e3acc16110a04d6814205542f42a5ef
 - https://github.com/metanorma/chocolatey-metanorma/commit/650bd511bafa4fabfb1ec599ebd93e8493ab0298

DOne

[2021-10-11 06:37] #254 closed

[2021-10-12 11:33] opoudjis commented on #242
Word operation now fixed.

[2021-10-12 11:37] #255 closed

[2021-10-12 11:47] ronaldtse commented on #242
So this particular task needs to be updated to say that when "data-image-uri" is false, then this issue applies.

[2021-10-13 01:30] ronaldtse opened #257 "Site generate: failure to include generated document in index"
https://github.com/metanorma/ogcapi-processes

Run `bundle exec metanorma site generate`, the index will contain no entry.

<img width="945" alt="Screenshot 2021-10-13 at 9 29 43 AM" src="https://user-images.githubusercontent.com/11865/137051177-12c1c250-1f2a-4365-9be0-8f55c158f31f.png">

[2021-10-14 15:13] abunashir commented on #257
I don't remember the whole dependency on the RXL now, but let me check on it soon and then I can get back to it, but that would definitely make it better.

[2021-10-17 14:18] opoudjis commented on #242
Fixed rspec, but are you testing what is done with baseassetpath, @abunashir?

[2021-10-28 03:49] ronaldtse opened #259 "Running `metanorma` on Ruby 3.0 outputs multiple URI-related warnings"
These come from some `require "open-uri"` or `require "uri"` call in the stack that is not needed in Ruby 3.0.

We need to find that offending line and remove it. Both `open-uri` and `uri` are Ruby default gems and are required by default, they do not need to be manually required.

[code]

[2021-10-29 14:34] #259 closed, assigned to opoudjis

[2021-10-31 16:59] abunashir commented on #242
Update: Since, @opoudjis set it as default value, so I assume we don't necessarily need to set the base_path anymore, can we close this one @ronaldtse, or would you still prefer to add it?

[2021-10-31 18:14] ronaldtse commented on #242
@abunashir in the case where the value is explicitly not set to the default, we will still have this problem... So we still need to fix it.

[2021-11-16 12:15] abunashir commented on #242
Thanks @ronaldtse, with the recent merge on the PR, should it be resolved? can we close this issue?

[2021-11-23 08:55] ronaldtse opened #261 "(URGENT) Metanorma `convert` command"
We need to have the `convert` command to do this:

1. Convert NISO STS XML to Metanorma ADoc
2. Convert ISOSTS XML to Metanorma ADoc

Probably also:
3. Convert RFC XML to Metanorma ADoc

@Intelligent2013 any other functionality we need to expose from mnconvert?

[2021-11-23 08:55] ronaldtse commented on #261
This is necessary for https://github.com/paneron/extension-hls/issues/61

[2021-11-23 09:14] Intelligent2013 commented on #261
@ronaldtse I think no. All 3 tasks (niso sts, iso sts and rfc) cover possible conversion functionality from xml to adoc.
May be we need some optional parameter to the `convert` command - `output-format` (value `adoc` by default) for further conversion from metanorma xml to sts xml.

[2021-11-23 09:38] CAMOBAP commented on #261
@Intelligent2013 @ronaldtse to be on the same page:

1. Do we need explicitly specify input format?
2. Can you suggest some minimal xmls for tests?
3. Is there any other options required for font managment or anything else?

[2021-11-23 10:03] Intelligent2013 commented on #261
@CAMOBAP

mnconvert determines automatically input format:
- if root xml element is `rfc`, then RFC
- if root xml element ends with `-standard` or `metanorma-collection`, then Metanorma (actual for MN xml ->STS conversion)
- otherwise - STS xml (both ISO and NISO)

so no need to specify input format.

- RFC xml: https://github.com/metanorma/mnconvert/blob/main/src/test/resources/rfc/rfc8650.xml
-

[2021-11-23 10:46] ronaldtse commented on #261
Agree with @Intelligent2013 , thanks!

[2021-11-23 12:21] CAMOBAP commented on #261
In progress

[2021-11-23 23:45] CAMOBAP commented on #261
@ronaldtse PRs are ready for review:
 - https://github.com/metanorma/mnconvert-ruby/pull/2
 - https://github.com/metanorma/metanorma-iso/pull/557
 - https://github.com/metanorma/metanorma-cli/pull/262

[2021-11-30 02:13] ronaldtse commented on #242
Confirm fixed in metanorma/iso-10303-11 with `:data-uri-image: false`

<img width="1057" alt="image" src="https://user-images.githubusercontent.com/11865/143972351-26d8a7a7-1288-4791-a05c-8421675b26bb.png">

[2021-11-30 02:13] #242 closed

[2021-12-04 11:04] CAMOBAP commented on #261
merged and released

[2021-12-04 11:04] #261 closed

[2021-12-06 06:57] wkwong-ribose commented on #261
Thanks for adding the convert capability in Metanorma.
I want to test the convert function but don't know how to use it.

I installed Metanorma using ```brew install metanorma/metanorma/metanorma```.
The version shown is still 1.5.2
<img width="281" alt="Screen Shot 2021-12-06 at 2 51 50 PM" src="https://user-images.githubusercontent.com/80878223/144800876-e48b05c1-a059-4791-a03a-be4e621e93be.png"

[2021-12-06 09:52] ronaldtse commented on #261
@wkwong-ribose I believe the convert command only came in at 1.5.3, but that version is still not published at [packed-mn](https://github.com/metanorma/packed-mn).

@CAMOBAP can you please help? Thanks.

[2021-12-11 04:36] ronaldtse commented on #194
We are facing this issue again:
* https://github.com/metanorma/packed-mn/issues/135
* https://github.com/metanorma/metanorma-ogc/issues/332

When PDF generation fails, we **MUST** fail the whole build process **at the end**.

[2021-12-21 11:06] CAMOBAP opened #263 "metanorma new incorrect handling path on winows"
https://github.com/actions-mn/cli/runs/4593740924?check_suite_focus=true

[code]

[2021-12-22 07:16] ronaldtse opened #264 "Support template repositories using `main` and also `master` branches (for backwards compatibility)"
Following the recent change in the default git branch name to `main`, the CLI needs to support `main` and also `master` branches for template repositories.

* [ ] https://github.com/metanorma/mn-templates-iso/issues/35
* [ ] https://github.com/metanorma/mn-templates-nist/issues/16
* [ ] https://github.com/metanorma/mn-templates-iec/issues/24
* [ ] https://github.com/metanorma/mn-templates-cc/issue

[2021-12-30 14:27] abunashir commented on #257
@ronaldtse: I was looking into this one - but couldn't exactly point to a specific reasoning. On top of that, looks like we are explicitly specifying that in couple of extensions, so I wonder if that's the expected behaviour 🤔

[2022-01-08 11:31] CAMOBAP opened #266 "--no-install-fonts looks broken"
### Intro

During GitHub Actions configuration update for `mn-templates-nist`, I have found that we call mn2pdf when `--no-install-fonts` passed.

### Problem

Because `mn2pdf` heavily depends on fonts it fails with

<details>
  <summary>java.io.FileNotFoundException</summary>

[code]

</details>

[More logs](https://github.com/metanorma/mn-templates-nist/runs/4747717604?check_suite_focus=true#ste

[2022-01-08 11:54] Intelligent2013 commented on #266
Usually mn2pdf substitutes SourceSans/Serif fonts for non found fonts, for instance:
[code]

but something wrong for Calibri font... I have to investigate it.

[2022-01-08 12:38] Intelligent2013 commented on #266
@CAMOBAP issue fixed. Updated xslt: https://github.com/metanorma/metanorma-nist/blob/main/lib/isodoc/nist/nist.cswp.xsl

[2022-01-11 03:45] ronaldtse opened #267 "Do not display font licenses when supplied with `--agree-with-terms`"
The font licenses take up a lot of space when displayed. When the user has already agreed, there's no need to show them again.

https://github.com/metanorma/metanorma-cli/blob/7caf0b3b704e54cd0b2552776d69e8674d30524f/lib/metanorma/cli/command.rb#L39-L40

[2022-01-11 10:24] CAMOBAP opened #268 "metanorma new: generate correct metanorma.yml config"
Related issues/PRs:
 - https://github.com/metanorma/mn-templates-ogc/pull/46
 - https://github.com/metanorma/mn-templates-ogc/issues/43
 - https://github.com/metanorma/metanorma/issues/229
 - https://github.com/metanorma/metanorma/issues/228

it will be nice to have `metanorma.yml` correctly generated after `metanorma new` command, for now we have a workaround like https://github.com/metanorma/mn-

[2022-01-11 10:36] ronaldtse commented on #268
Metanorma new is only copying the template repo contents, if metanorma.yml is placed under “common”, it will be copied in.

[2022-01-11 10:43] CAMOBAP commented on #268
@ronaldtse as far as I remember unfortunatelly not all our templated have `document.adoc` as a root file. should we do either:
1. keep templates consistent and use `document.adoc` as name of the rood document
2. or leave `metanorma.yml` generation up to `metanorma new`

If you ask me I'm prefer first option, but as I said I'm not sure that it will works for all templates

[2022-01-27 11:22] ronaldtse commented on #268
Definitely first option, much easier to deal with.

[2022-01-31 17:19] CAMOBAP commented on #263
This particular issue is already fixed but still not released in packed-mn (1.5.5 is broken). Proof: https://github.com/actions-mn/cli/runs/4853268919?check_suite_focus=true

[2022-01-31 17:19] #263 closed

[2022-01-31 17:26] ronaldtse commented on #263
@CAMOBAP but packed-mn is fully passing now: https://github.com/metanorma/packed-mn/actions

How can we trigger a new release?

[2022-01-31 17:27] CAMOBAP commented on #263
Yep I will trigger the release, BTW I just found that metanorma-cli trigger was broken so I will fix it first

[2022-01-31 17:28] ronaldtse commented on #263
Thanks @CAMOBAP !

[2022-01-31 19:35] CAMOBAP commented on #264
@ronaldtse just checked `ruby-git` it will correctly handle `main` and `master` default branches

As far as I see no extra actions required

[2022-02-10 17:03] #264 closed

[2022-02-10 23:00] CAMOBAP commented on #268
@ronaldtse I think makes sense to generate metanorma.yml if it's missing, what do you think?

[2022-02-11 03:00] ronaldtse commented on #268
Yes @CAMOBAP , can we just add "metanorma.yml" to the template "common/" directory, and always use document.adoc as the name?

[2022-02-11 07:45] CAMOBAP commented on #268
@ronaldtse I observed that metanorma.yml from `metanroma-cli/templates/base/metanorma.yml` overwrites `common/metanorma.yml`, which probably incorrect, could you please confirm?

[2022-02-11 07:57] ronaldtse commented on #268
As long as we have one copy, it is fine. I want to keep all the common files under the same location. Thanks.

[2022-02-11 08:27] CAMOBAP commented on #268
to be on the same page we have two kind of "common" directories:
 - https://github.com/metanorma/metanorma-cli/tree/main/templates/base
 - https://github.com/metanorma/mn-templates-*/tree/master/common

In my understanding it's critically important that `mn-templates-*/common` must overwrite `metanorma-cli/templates/base`

For example:
 - latest released `metanorma-cli` contains `metanorma-cli/tem

[2022-02-12 06:22] ronaldtse commented on #268
@CAMOBAP we don't need this, it was only there for the old version that used an email for SSH deploy.

[code]

[2022-03-15 04:16] ronaldtse opened #272 "URGENT: Crash in `metanorma site generate` command when using private flavor"
In https://github.com/riboseinc/report-nist-pubid, run `bundle exec metanorma site generate`.

The following output indicates that "something" segfaulted after the PDF was generated:

[code]

[2022-03-15 04:16] ronaldtse commented on #272
This does not occur with default flavors like metanorma-iso.

[2022-03-16 00:55] opoudjis commented on #272
It is occurring *everywhere* for me, since upgrading to Bundler 2.3.9 from 2.3.7. I have tried to investigate it, it is somewhere in bundler invoking, for some reason, thor (!), but I couldn't get anywhere with it.

[2022-03-16 01:05] ronaldtse commented on #272
Not the case for me:
[code]

[2022-03-17 08:49] opoudjis commented on #272
The "SEGV received in BUS handler" is happening after the job completes, so while something is crashing, it isn't in fact Metanorma: as I said, it's thor within the Bundler environment, after the job is finished.

I cannot find any mention of this issue on Google.

bundler 2.3.9 also crashes in Ruby 3.0.3.

The crash happens in Bundler. Asciidoctor exists with system code 0. This gets caught by th

[2022-03-17 12:42] opoudjis commented on #272
@CAMOBAP could you please investigate this issue? I am getting this crash for any bundle exec job I run now in Metanorma

We can work around this by catching the raised SystemExit of Asciidoctor in metanorma-cli, before it ends up in Bundler; but Bundler should not be crashing because of a non-fatal error raised downstream.

[2022-03-23 06:59] ronaldtse opened #273 "Add mn-sample-* test jobs for a GHA matrix build"
We want to test mn-sample-* compilation with a locked version of metanorma-cli. This is similar to https://github.com/metanorma/metanorma-docker/pull/145.

[2022-04-05 06:32] ronaldtse commented on #272
@opoudjis this issue stems from Expressir (https://github.com/lutaml/expressir/issues/109), we will try to get it fixed.

[2022-04-20 01:55] ronaldtse opened #274 "Crash in PDF generation does not show any error message, but PDF file has size 0"
Failure in processing within Mnconvert does not produce any error in the command output, and hides all error messages.

What is the correct behavior here? I believe we want to:
1. Keep processing files that have not failed.
2. For the files that failed, we need to show which file has failed and the error messages for it, collected during process and displaying at the end (like RSpec output).
3. Th

[2022-04-24 01:43] ronaldtse opened #275 "(URGENT) Bump release version due to crashing bug in relaton-iec, relaton-ogc and relaton-w3c"
Under certain conditions, relaton-iec, relaton-ogc and relaton-w3c will crash and fail to return, causing a halt in the Metanorma compilation process. These bugs have been fixed and released.

Specifically,
* When the authoritative site is not available
* When the index does not contain a sought item
* When the item is not found on the authoritative site

@CAMOBAP can you please help bump version

[2022-04-24 01:44] ronaldtse commented on #275
FYI @gbuehler.

[2022-04-27 04:42] CAMOBAP commented on #275
Summary:

1. docker released - https://github.com/metanorma/metanorma-docker/actions/runs/2229313471
2. private docker on the way (restarted) https://github.com/metanorma/metanorma-docker-private/actions/runs/2230898206
3. packed-mn still on the way (restarted) https://github.com/metanorma/packed-mn/actions/runs/2225246816

Point to discuss:
 - docker release will fail if we use versions like  `v1

[2022-04-27 08:33] ronaldtse commented on #275
I agree!

Thank you very much for getting the release working!

[2022-05-10 02:29] ronaldtse opened #276 "Use semantic versioning (semver) v2 for (pre-)releases of all gems"
The latest Docker build actions (https://github.com/metanorma/metanorma-docker/pull/151) require version numbers that match the semver scheme.

* https://semver.org

The only change that we need to adopt is the "prerelease version": https://semver.org/#spec-item-9

Right now, metanorma-cli uses `x.y.zpre` as the prerelease version, which breaks the Docker builds. We need to adopt something like `x

[2022-05-10 03:38] opoudjis commented on #276
Done.

[2022-05-10 03:38] #276 closed

[2022-05-10 16:27] ronaldtse opened #277 "(URGENT) Remove private flavors like metanorma-nist from public gemspec"
https://github.com/metanorma/metanorma-cli/blob/11ead4d0362e1a92a7dcd1de3f4e4366b0212a85/metanorma-cli.gemspec#L37

[2022-05-10 16:28] opoudjis commented on #277
Done

[2022-05-13 09:01] #275 closed

[2022-05-14 11:58] abunashir commented on #205
@ronaldtse: I think this was resolved by https://github.com/metanorma/metanorma-cli/pull/260, can we close this one or is there anything else?

[2022-05-30 05:18] CAMOBAP commented on #272
Per last report-nist-pubid's run https://github.com/riboseinc/report-nist-pubid/runs/5548341957?check_suite_focus=true there is no described issue, so looks like it was fixed by expressir fix

[2022-05-30 05:24] ronaldtse commented on #272
Excellent. Thanks!

[2022-05-30 05:24] #272 closed

[2022-06-01 09:39] CAMOBAP commented on #274
The issue doesn't reproduced on the last CI runs for iso-15926-6 https://github.com/metanorma/iso-15926-6/runs/6683304131?check_suite_focus=true

I will double-check and rerun once 1.5.16 metanorma-snap is released

[2022-06-22 18:12] #268 closed

[2022-06-23 19:21] CAMOBAP commented on #251
Issues doesn't reproduces anymore, probably fixed by other changes

[2022-06-23 19:21] #251 closed

[2022-06-24 02:28] ronaldtse commented on #267
Can we add a warning message when using "agree-to-terms", that the font license displays are being suppressed?

Eg.
"[metanorma] Font licenses are not shown when using the --agree-to-terms option."

[2022-06-30 12:05] CAMOBAP commented on #245
As far as I see we are following this approach, and it works better then previous one (because we have one more stage to fix possible issues before snap/brew/choco/docker delivery)

[2022-06-30 12:05] #245 closed

[2022-07-04 02:38] ronaldtse opened #278 "Gem loading error message not informative"
I just encountered this issue when using the Git version of metanorma-ieee. This error is not informative to the user, and does not give enough hints for debugging.

We should show the underlying error and also give the user information on where to report this error.

[code]

[2022-07-20 05:10] ronaldtse commented on #274
This problem still occurs. When PDF generation breaks, there is no error message.
See https://github.com/metanorma/iso-34000/pull/1 .

[2022-08-15 11:46] CAMOBAP commented on #278
@ronaldtse should we report those errors to processor repos too or it's ok to report it to `metanorma-cli` repo? Maybe you can suggest a message template?

[2022-08-15 14:28] ronaldtse commented on #278
How about something like this?

[code]

[2022-08-21 14:02] CAMOBAP commented on #278
Ready for review

[2022-08-22 01:12] ronaldtse commented on #278
Requested some updates in metanorma/metanorma#254. Thanks!

[2022-09-03 11:44] abunashir commented on #205
ping @ronaldtse, @opoudjis ⬆️

[2022-09-03 12:17] ronaldtse commented on #205
@abunashir have you updated https://github.com/metanorma/bipm-si-brochure/pull/86 to use the new functionality?

[2022-09-03 13:17] abunashir opened #279 "Investigate the slowness of the cli"
Trying to run the CLI locally, and it seemed like taking forever just to run the `metanorma help` command. I think we came across this issue before, but it would super handy to get some benchmark on it and see what is making the CLI this slow.

<img width="1074" alt="Screenshot 2022-09-03 at 15 12 32" src="https://user-images.githubusercontent.com/1220911/188272165-28309bb7-3970-40fe-ab0a-77566ae2

[2022-09-03 13:39] abunashir commented on #205
Yes, I've updated the supported attributes here - https://github.com/metanorma/bipm-si-brochure/pull/86/commits/5b6d6578a88022010769721e9178167054e7ce61,  so it's there from the cli side.

For the changes on the [core attributes ](https://github.com/metanorma/bipm-si-brochure/blob/5b6d6578a88022010769721e9178167054e7ce61/sources/si-brochure-bilingual.yml#L50)we still need to do that to the metnorm

[2022-09-07 05:03] ronaldtse commented on #205
Thank you @abunashir ! We want to implement the changes to the inclusion attributes too:
https://github.com/metanorma/bipm-si-brochure/blob/5b6d6578a88022010769721e9178167054e7ce61/sources/si-brochure-bilingual.yml#L43-L67

Can you please help implement them in metanorma-cli? Thanks!

[2022-09-07 05:04] ronaldtse opened #282 "Collection: implement recursive document hierarchy attributes"
We want to implement the changes to the inclusion attributes too:
https://github.com/metanorma/bipm-si-brochure/blob/5b6d6578a88022010769721e9178167054e7ce61/sources/si-brochure-bilingual.yml#L43-L67

Can you please help implement them in metanorma-cli? Thanks!

_Originally posted by @ronaldtse in https://github.com/metanorma/metanorma-cli/issues/205#issuecomment-1238911100_

[2022-09-07 05:31] ronaldtse commented on #205
@abunashir I've tried this locally and there are several problems. I will list out the problems individually.

[2022-09-07 06:07] ronaldtse opened #283 "`metanorma collection collection.yaml` does not work without explicit options"
This refers to a bug in the functionality implemented in https://github.com/metanorma/metanorma-cli/issues/205

Right now,

[code]

This is wrong, because the option is already provided in the `collection.yaml` file.
https://github.com/metanorma/bipm-si-brochure/blob/a588390f6d323ae9df8ad119027d440543bf5cd8/collection.yml#L30

Clearly the `metanorma collection` command is not reading the YAML opti

[2022-09-07 06:09] ronaldtse opened #284 "`metanorma site generate` with a collection source file generates output in the wrong location"
This is a bug in the functionality implemented in https://github.com/metanorma/metanorma-cli/issues/205.

This refers to a bug in the functionality implemented in https://github.com/metanorma/metanorma-cli/issues/205

Notice that `collection.yaml` has this line:
https://github.com/metanorma/bipm-si-brochure/blob/a588390f6d323ae9df8ad119027d440543bf5cd8/collection.yml#L30

But the `site generate` c

[2022-09-07 06:11] ronaldtse commented on #205
Let's close this issue, the remaining bugs are #283 and #284.

[2022-09-07 06:11] #205 closed

[2022-09-26 08:56] #283 closed

[2022-09-26 09:37] ronaldtse opened #287 "Sanitize user information in generated error log"
@CAMOBAP in the error log, we will need to sanitize the users information (eg. Directory names that are outside of the document directory). Let's make that a new ticket.

__Originally posted by @ronaldtse in https://github.com/metanorma/metanorma/pull/254#issuecomment-1257764851__

[2022-10-02 12:39] abunashir commented on #284
Hi @ronaldtse, this should be fixed in the attached PR :)

[2022-10-10 09:08] #284 closed

[2022-10-11 09:35] opoudjis commented on #278
Closing ticket, since the remaining issue of sanitising user information is a new ticket, https://github.com/metanorma/metanorma-cli/issues/287

[2022-10-11 09:35] #278 closed

[2022-10-26 09:45] ronaldtse opened #289 "(URGENT) Metanorma private gems not tested in the release of metanorma-cli"
@opoudjis will provide details.

[2022-10-26 09:46] ronaldtse commented on #289
We must ensure all private gems pass tests before the metanorma-cli gem can be released.

[2022-10-26 09:58] CAMOBAP commented on #289
What kind of tests do we mean? Just compilation of mn-samples-{nist|bsi} or anything else?

[2022-10-26 10:03] CAMOBAP commented on #289
For now we have "post-release" testing in `metanorma-docker[-private]`

Also, we have `gems-test` workflow https://github.com/metanorma/mn-samples-iso/blob/main/.github/workflows/test.yml
Which looks broken right now. For `gems-test` workflow the idea was to trigger it each time after changes in corresponding  `metanorma-*` gem

I will check why this is happening. @ronaldtse @opoudjis let me know

[2022-11-04 03:06] ronaldtse opened #290 "Windows: `site generate` command leading to tempfile.rb failure on Ruby 3.1"
This is received from a Metanorma user on Windows, using Ruby 3.1 with Bundler (i.e. not packed-mn). The site has been generated properly, but apparently the temp files could not be removed afterwards.

[code]

A related issue has been reported at Ruby Lang:
* https://bugs.ruby-lang.org/issues/18784#note-8
* and FileUtils https://github.com/ruby/fileutils/pull/99/files

This is the issue we're see

[2022-11-07 23:59] opoudjis opened #291 "Bundler install failing in GHA, preventing release"
https://github.com/metanorma/metanorma-cli/actions/runs/3411783196/jobs/5683845275

[2022-11-10 08:09] CAMOBAP commented on #289
@ronaldtse @opoudjis any ideas/suggestions are welcome

[2022-11-16 13:21] opoudjis commented on #289
That is all I had in mind.

[2022-11-26 18:48] CAMOBAP commented on #289
@ronaldtse feel free to reopen if you have any ideas

[2022-11-26 18:48] #289 closed

[2022-11-27 22:19] #266 closed

[2022-11-29 12:57] CAMOBAP commented on #291
Resolved

[2022-11-29 12:57] #291 closed